/*
 * Login
 */
.socialaccount_providers {
    margin-bottom: 0px;
    text-align: center;
}
.socialaccount_provider {
    background: url("../img/social.png") no-repeat scroll 0px 0px transparent;
    padding-top: 50px;
    width: 50px;
    display: inline-block;
    line-height: 1.5em;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px !important;
}
.socialaccount_provider.openid {
    background-position: -350px 0px;
}
.socialaccount_provider.hyves {
    background-position: -400px 0px;
}
.socialaccount_provider.yahoo {
    background-position: -150px 0px;
}
.socialaccount_provider.twitter {
    background-position: -50px 0px;
}
.socialaccount_provider.facebook {
    background-position: -100px 0px;
}
.socialaccount_provider.linkedin {
    background-position: -200px 0px;
}
.socialaccount_provider.google {
    background-position: -300px 0px;
}
.socialaccount_provider.github {
    background-position: -250px 0px;
}
