@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F1F1F1;
    font-size: 16px;
}
a {
    color: #E95C2F;
}
a:hover {
    color: #48B07B;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.page-header, .jumbotron, .home-column {
    color: white;
}
.content {
    background-color: white;
    padding: 20px;
}
.btn, .navbar-default, .panel, input {
    border-radius: 0px;
}
.btn, .navbar-default {
    border: 0px none;
}
input {
    border: 1px solid #AAA;
    padding: 5px;
}
label {
    font-weight: normal;
}
.btn, .btn:hover,
.navbar-default .navbar-nav > li > .btn:hover {
    background-color: #E95C2F;
}
.navbar-default {
    background-color: #444;
    border-bottom: 5px solid #222;
    padding: 10px 0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
    padding: 10px 20px;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #222;
}
.page-header {
    margin: 0px;
    border: 0px none;
    background-color: #48B07B;
}
.panel {
    box-shadow: none;
    border: 1px solid #CCC;
    display: inline-block;
}
.panel-body {
    padding: 15px 20px;
    background-color: #FAFAFA;
}
/*
 * Index
 */
.jumbotron {
    background-color: #48B07B;
}
.home-column {
    font-size: 16px;
}
.home-column img {
    margin-right: 20px;
}
.home-column h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.home-column > div {
    padding: 10px 40px 20px;
}
.home-column:first-child > div {
    background-color: #2172AA;
}
.home-column:nth-child(2) > div {
    background-color: #C7941F;
}
.home-column:last-child > div {
    background-color: #BD473B;
}

/*
 * Login
 */
.socialaccount_providers {
    margin-bottom: 0px;
}
.socialaccount_provider {
    background: url("../img/social.png") no-repeat scroll 0px 0px transparent;
    padding-top: 50px;
    width: 50px;
    display: inline-block;
    line-height: 1.5em;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px !important;
}
.socialaccount_provider.openid {
    background-position: -350px 0px;
}
.socialaccount_provider.hyves {
    background-position: -400px 0px;
}
.socialaccount_provider.yahoo {
    background-position: -150px 0px;
}
.socialaccount_provider.twitter {
    background-position: -50px 0px;
}
.socialaccount_provider.facebook {
    background-position: -100px 0px;
}
.socialaccount_provider.linkedin {
    background-position: -200px 0px;
}
.socialaccount_provider.google {
    background-position: -300px 0px;
}
.socialaccount_provider.github {
    background-position: -250px 0px;
}