{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}
{% load gravatar %}

{% block styles %}
{{ block.super }}
<link href="{% static 'conference/fancybox/jquery.fancybox-1.3.4.css' %}" rel="stylesheet">
<link href="{% static 'css/conference/design01/css/isotope.css' %}" rel="stylesheet">
<link href="{% static 'conference/design02/assets/js/jquery.bxslider/jquery.bxslider.css' %}" rel="stylesheet">
<link href="{% static 'conference/design02/assets/css/pages/feature_timeline2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="block-large bg-alt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="headline"><h2>{% trans 'Schedule:' %}</h2></div>

          <div class="bxslider">
            {% for date in favorites %}
            <div class="slide col-md-8" align="center">
                <div class="headline"><h2>{{date.date}}</h2></div>
                <ul class="timeline-v2">
                  {% for schedule in date.schedules %}
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>{{date.date}}</span> <span>{{schedule.start_time|time:"H:i"}} - {{schedule.end_time|time:"H:i"}}</span> <span>{{schedule.trackname}}</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel" align="left">
                            <h2>{{schedule.title}}</h2>
                            <div class="row">
                                <div class="col-md-4 funny-boxes-img">
                                    {% gravatar schedule.user.email 150 %}
                                    <ul class="list-unstyled">
                                       <li><a href="{{schedule.speaker_web}}"><i class="fa fa-user"></i> {{schedule.speaker}}</a></li>
                                       <li><a href="{{schedule.company_web}}"><i class="fa fa-briefcase"></i> {{schedule.company}}</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <p>{{schedule.abstract|slice:":400"}}</p>
                                    <a class="btn-u btn-u-blue" href="{% url 'block_talk_info' url=url  talkid=schedule.talkid %}">Read more</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
          </div>
        </div><!-- /.span12 -->
      </div><!-- /.row -->
    </div>
  </section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{% static 'js/conference/jquery.isotope.min.js' %}"></script>
<script src="{% static 'conference/design02/assets/js/jquery.bxslider/jquery.bxslider.min.js' %}"></script>
<script>
$('.bxslider').bxSlider({
  infiniteLoop: false,
  hideControlOnEnd: true
});
</script>
{% endblock scripts %}
