{% extends "conference/design02/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% load staticfiles %}
{% load url from future %}
{% load gravatar %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="row margin-bottom-30">
    <!-- Welcome Block -->
  <div class="col-md-8 md-margin-bottom-40">
    <div class="headline"><h2>
      {% blocktrans with username=user.username %}
      {{ username }}'s profile
      {% endblocktrans %}</h2></div>
          <div class="row">
              <div class="col-sm-12">
                <section class="widget">
                <div class="profile-field row clearfix">
                  <div class="column span2 text-left">
                    {% gravatar user.email 150 %}
                  </div>
                </div>
                {% if profile.show_real_name %}
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'First name' %}</div>
                    <div class="column col-md-10">{{ user.first_name }}</div>
                </div>
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'Last name' %}</div>
                    <div class="column col-md-10">{{ user.last_name }}</div>
                </div>
                {% endif %}
                {% if profile.show_email and user.email %}
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'e-mail' %}</div>
                    <div class="column col-md-10"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                </div>
                {% endif %}
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'Country' %}</div>
                    <div class="column col-md-10">{{ profile.country.name }}</div>
                </div>
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'State' %}</div>
                    <div class="column col-md-10">{{ profile.state }}</div>
                </div>
                {% if profile.personal_page %}
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'Personal page' %}</div>
                    <div class="column col-md-10">
                        <a href="{{ profile.personal_page }}" target="_blank">{{ profile.personal_page }}</a>
                    </div>
                </div>
                {% endif %}
                {% if profile.company %}
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'Company' %}</div>
                    <div class="column col-md-10">
                    {% if profile.company_page %}
                        <a href="{{ profile.company_page }}" target="_blank">{{ profile.company_page }}</a>
                    {% else %}
                        {{ profile.company }}
                    {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if profile.cv_link %}
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'CV Link' %}</div>
                    <div class="column col-md-10">
                      <a href="{{ profile.cv_link }}" target="_blank">{{ profile.cv_link }}</a>
                    </div>
                </div>
                {% endif %}
                {% if profile.biography %}
                <div class="profile-field row clearfix">
                    <div class="column col-md-2 text-right">{% trans 'Biography' %}</div>
                    <div class="column col-md-10">
                        {{ profile.biography|linebreaks }}
                    </div>
                </div>
                {% endif %}
                </section>
              </div>
          </div>
      </div><!--/col-md-8-->
</div>
{% endblock %}
