{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html>
<head>
		<title>{% block title %}MyConference{% endblock %}</title>
		{% block styles %}{% endblock %}
		<link href="{% static 'css/dashboard/application.min.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta charset="utf-8">
</head>
<body class="background landing">

{% block content %}{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard/lib/jquery/jquery-2.0.3.min.js' %}"> </script>
{% endblock scripts %}

</body>
</html>
