{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
{{ block.super }}
<link href="{% static 'conference/fancybox/jquery.fancybox-1.3.4.css' %}" rel="stylesheet">
<link href="{% static 'css/conference/design01/css/isotope.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Begin Content -->
            <div class="col-md-12">
                <div class="heading heading-v1 margin-bottom-40">
                    <h2>{% trans 'Proposed Talks:' %}</h2>
                </div>

                {% for talk in talks %}
                <div class="col-md-6" id="talk{{talk.id}}">
                  {# Check the state of the talk and show the header of the box in a different color  #}
                  {% if talk.state == 'N' %}
                    <div class="panel panel-red">
                      <div class="panel-heading">
                          <h3 class="panel-title"><i class="fa fa-bell"></i> {{talk.talk.title}}</h3>
                  {% else %}
                    <div class="panel panel-blue">
                      <div class="panel-heading">
                          <h3 class="panel-title"><i class="fa fa-check"></i> {{talk.talk.title}}</h3>
                  {% endif %}
                        </div>
                        <div class="panel-body">
                            {% if publish_talk_results %}
                              {% if talk.accepted %}
                                <h4><i class="icon-ok"></i> {% trans 'Status: Accepted' %}</h4>
                              {% else %}
                                <h4><i class="icon-remove"> {% trans 'Status: Rejected' %}</h4>
                                {% endif %}
                            {% else %}
                              <h4>{% trans 'Status: ' %}{{talk.get_state_display}}</h4>
                            {% endif %}
                            <p>{{talk.talk.summary|linebreaks}}</p>
                            <ul class="plan-features" id="extraSpeakers">
                              {% for espeaker in talk.talk.extra_speakers.all %}
                                <li><i class="fa fa-user"></i> {{espeaker.username}}</li>
                              {% endfor %}
                            </ul>
                            <ul class="plan-features">
                              {% if publish_talk_results %}
                                {% if talk.accepted %}
                                  <li><i class="icon-ok"></i> {% trans 'Talk Accepted' %}</li>
                                {% else %}
                                  <li><i class="icon-remove"></i> {% trans 'Talk Rejected' %}</li>
                                  {% endif %}
                              {% else %}
                                {% if talk.state == 'N' %}
                                  <li><a href="{% url 'block_talk_review' url=url talkid=talk.id %}"><i class="icon-pencil"></i> {% trans 'Questions pending for your review...' %}</a></li>
                                  {% endif %}
                              {% endif %}
                            </ul>
                        </div>
                        <div>
                          {% if not publish_talk_results %}
                            <a href="javascript:void(0);" class="btn btn-danger btn-large" onclick="removeTalk('{{talk.id}}');">{% trans 'Remove' %} <i class="icon-remove"></i></a>
                          {% endif %}
                          <a href="{% url 'block_edit_talk' url=url talkid=talk.id %}" class="btn btn-info btn-large">{% trans 'Edit Talk' %} <i class="icon-edit"></i></a>
                          <button onclick="showAddSpeaker({{talk.id}})" class="btn btn-u btn-large"><i class="fa fa-user"></i> {% trans 'Add Speaker' %} <i class="icon-edit"></i></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>
            <!-- End Content -->
        </div>
    <!--=== End Content Part ===-->

<div class="body">
    <div id="add-speaker" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">{% trans 'Add Speaker' %}</h4>
              </div>
              <div class="modal-body">
                  <div class="control-group">
                      <label for="userName" class="control-label">{% trans 'Speaker name' %}</label>
                      <div class="controls">
                          <input type="text" id="userName" name="name">
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
                  <button data-dismiss="modal" id="create-event" onclick="addSpeaker()" class="btn btn-success">{% trans 'OK' %}</button>
              </div>            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'js/conference/api_conference.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/ui-dialogs.js' %}"></script>
<script src="{% static 'js/conference/my_talks.js' %}"></script>
{% endblock scripts %}
