{% extends "conference/design02/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<section class="block-small">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="heading heading-v1 margin-bottom-40">
            <h2>{% trans 'Proposed Talks:' %}</h2>
        </div>
        <div>
          {% trans 'If you choose "Publish results", speakers will be informed of the voting results (Accepted or Rejected, not individual votes)' %}
          <form action="">
            <label id="optionMedium" class="btn btn-info">
              <input type="radio" name="publish" {{publish_true}} onclick="publishTalkResults(true, {{eventid}});"> {% trans 'PUBLISH results' %}<br>
            </label>
            <label id="optionHigh" class="btn btn-danger active">
              <input type="radio" name="publish" {{publish_false}} onclick="publishTalkResults(false, {{eventid}});"> {% trans "DON'T publish results" %}
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <br>
</section>

<!-- <section>
<div class="row">
  <div class="span12">
    {% trans 'Tags:' %}
    <a href="javascript:void(0);" class="btn btn-success" onclick="filterTalks('reset-all')">All</a>
    {% for tag in tags %}
    <a href="javascript:void(0);" class="btn btn-info" onclick="filterTalks('{{tag}}')">{{tag}}</a>
    {% endfor %}
  </div>
</div>
<br>
</section> -->

<section>
<div class="row">
  <div class="span12">
    {% trans 'Talks:' %}
    <a href="javascript:void(0);" class="btn btn-success">{{talks_count}}</a>
  </div>
</div>
<br>
</section>

<section>
  {% for talk in talks %}
  <div class="col-md-6 {{talk.tags}}" id="talks">
    <div class="funny-boxes funny-boxes-colored {{talk.talk_state_color}}" id="talk{{talk.id}}">
        <div class="row">
            <div class="col-md-12">
                <h2><a href="{% url 'block_talk_review' url=url talkid=talk.id %}"><i class="fa fa-bell"></i> {{talk.title}}</a></h2>
                <h4>{% trans 'Author: ' %}{{talk.author}}</h4>
                <p>{{talk.summary|linebreaks|slice:":400"}}</p>
                <div>
                  <a href="{% url 'block_talk_review' url=url talkid=talk.id %}" class="btn btn-info btn-large">{% trans 'Review Talk' %} <i class="icon-eye-open"></i></a>
                    {% if talk.state == 'A' %}
                      <a class="btn btn-success btn-large" href="{% url 'block_talk_review' url=url talkid=talk.id %}"><i class="icon-ok"></i> {% trans 'Talk Accepted' %}</a>
                    {% elif talk.state == 'W' %}
                      <a class="btn btn-warning btn-large" href="{% url 'block_talk_review' url=url talkid=talk.id %}"><i class="icon-pencil"></i> {% trans 'Answers pending for your review...' %}</a>
                    {% elif talk.state == 'P' %}
                      <a class="btn btn-warning btn-large" href="{% url 'block_talk_review' url=url talkid=talk.id %}"><i class="icon-pencil"></i> {% trans 'Needs Review' %}</a>
                    {% elif talk.state == 'R' %}
                      <a class="btn btn-warning btn-large" href="{% url 'block_talk_review' url=url talkid=talk.id %}"><i class="icon-remove"></i> {% trans 'Talk Rejected' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
</section>

{% if is_admin %}
<section>
  <div class="col-md-12">
  <br>
  <a class="btn btn-info btn-large" href="{% url 'block_talks_summary' url %}"> {% trans 'Talks Revision Summary' %}</a>
</div>
<section>
{% endif %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/conference/api_conference.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{% static 'conference/fancybox/jquery.easing-1.3.pack.js' %}"></script>
<script src="{% static 'js/conference/review_talks.js' %}"></script>
{% endblock scripts %}
