{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<section class="block-large">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form id="reviewTalk" method="POST"
            enctype="multipart/form-data" action="{% url 'block_talk_review' url=url talkid=talkid %}">
              {% csrf_token %}
          <fieldset>
            <div class="row-fluid">
              <div class="col-md-8">
                <h2>{{talk.title}}</h2>
                <h4>{% trans 'Author: ' %}{{talk.speaker.first_name}} {{talk.speaker.last_name}}</h4>
                <p><b>{% trans 'Summary: ' %}</b></p>
                <p>{{talk.summary}}</p>
                <p><b>{% trans 'Level: ' %}</b></p>
                <p>{{talk_level}}</p>
                {% if talk.knowledge %}
                <p><b>{% trans 'Recommended background/knowledge: ' %}</b></p>
                <p>{{talk.knowledge}}</p>
                {% endif %}
                {% if talk.notes %}
                <p><b>{% trans 'Notes: ' %}</b></p>
                <p>{{talk.notes}}</p>
                {% endif %}
              </div><!-- /.span6 -->
              <div class="col-md-4">
                <h3>Topics:</h3>
                <div class="well">
                  <ul>
                    <li><i class="icon-tag"></i> {{talk.get_level_display}}</li>
                    {% for tag in talk.tags.all %}
                     <li><i class="icon-tag"></i> {{tag.name}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div><!-- /.span6 -->
            </div><!-- /.row-fluid -->
            <div class="row-fluid">
              <div class="col-md-8">
                {% for review in reviews %}
                  <div class="well">
                    {% if talk.speaker.first_name == review.user.first_name and talk.speaker.last_name == review.user.last_name %}
        						      <h4>{{review.user.first_name}} {{review.user.last_name}}:</h4>
                    {% else %}
                      <h4>{% trans 'Question:' %}</h4>
                    {% endif %}
        						<p>{{review.body}}</p>
        					</div>
                {% endfor %}
                <textarea rows="8" style="width: 100%;" name="body" class="input-transparent span12" id="tasksBody"></textarea>
              </div>
              {% if is_organizer %}
              <div class="col-md-4">
                <h3>Votes:</h3>
                <div class="well">
                  <ul>
                    <li><i class="icon-thumbs-up"></i> {% trans 'Accepted by: ' %}<i id="accepted">{{accepted_by}}</i></li>
                    <li><i class="icon-thumbs-down"></i> {% trans 'Rejected by: ' %}<i id="rejected">{{rejected_by}}</i></li>
                    <li><i class="icon-lightbulb"></i> {% trans 'Pending: ' %}<i id="pending">{{pending}}</i></li>
                  </ul>
                  <p>{% trans 'Votes are visible only for organizers' %}</p>
                  <a href="javascript:void(0);" onclick="voteTalk(1, {{talkid}});" class="btn btn-info"><i class="icon-thumbs-up"></i> {% trans 'Accept' %}</a>
                  <a href="javascript:void(0);" onclick="voteTalk(-1, {{talkid}});" class="btn btn-danger"><i class="icon-thumbs-down"></i> {% trans 'Reject' %}</a>
                </div>
              </div>
              {% endif %}
            </div><!-- /.row-fluid -->
          </fieldset>
          <button id="sendReview" class="btn btn-info"><i class="icon-arrow-right"></i>{% trans 'Send' %}</button>
        </form>
      </div><!-- /.span12 -->
    </div><!-- /.row -->
  </div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/conference/api_conference.js' %}"></script>
<script src="{% static 'js/conference/talk_review.js' %}"></script>
{% endblock scripts %}
