 {% extends "dashboard/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference - {% blocktrans %}Create Conference{% endblocktrans %}{% endblock %}

{% block styles %}
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.0.2/css/bootstrap2/bootstrap-switch.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/dashboard/form_elements/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}

{% block menu %}
<li class="active">
    <a href="{% url 'create_conference' %}"><i class="fa eicon-globe"></i> <span class="name">{% blocktrans %}Create Conference{% endblocktrans %}</span></a>
</li>
{% endblock %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">{% trans 'Create conference' %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <section class="widget">
            <header>
                <h4>
                    <i class="eicon-window"></i>
                    {% trans 'Wizard' %}
                    <small>{% trans 'Get your conference site up and running easily' %}</small>
                </h4>
            </header>
            <div class="body">
                <div id="wizard" class="form-wizard">
                    <ul class="wizard-navigation nav-justified">
                        <li><a href="#tab1" data-toggle="tab"><small>1.</small> <strong>{% trans 'Conference details' %}</strong></a></li>
                        <li><a href="#tab2" data-toggle="tab"><small>2.</small> <strong>{% trans 'Customize' %}</strong></a></li>
                        <li><a href="#tab3" data-toggle="tab"><small>4.</small> <strong>{% trans 'Thank you!' %}</strong></a></li>
                    </ul>
                    <div id="bar" class="progress progress-small">
                        <div class="progress-bar progress-bar-inverse"></div>
                    </div>
                    <form class="form-horizontal" method="POST">
                    	<div class="tab-content">
	                        <div class="tab-pane" id="tab1">
	                        	<div id="settings-form">
	                                {% crispy settings_form %}
	                            </div>
	                        </div>
	                        <div class="tab-pane" id="tab2">
	                        	<div id="blocks-form">
	                            {% for field in blocks_form %}
	                            	<div class="row">
		                            	<div class="col col-md-6">
		                                  <p>{{ field.label_tag }}</p>
		                                </div>
		                                <div class="col col-md-6 text-right">
		                                  	{{ field }}
		                                </div>
		                            </div>
	                            {% endfor %}
	                            </div>
	                        </div>
	                        <div class="tab-pane" id="tab3">
	                            <h2>{% trans 'Thank you!' %}</h2>
	                            <p>{% trans 'After your form is validated, your conference will be published at:' %} <a href="" id="myConfUrl"></a></p>
	                        </div>
	                        <div class="description">
	                            <ul class="pager wizard">
	                                <li class="previous">
	                                    <button type="button" class="btn btn-primary pull-left"><i class="fa fa-caret-left"></i> {% trans 'Previous' %}</button>
	                                </li>
	                                <li class="next">
	                                    <button type="button" class="btn btn-primary pull-right" >{% trans 'Next' %} <i class="fa fa-caret-right"></i></button>
	                                </li>
	                                <li class="finish" style="display: none">
	                                    <input type="submit" class="btn btn-success pull-right" value="{% trans 'Finish' %}" />
	                                </li>
	                            </ul>
	                        </div>
                    	</div>
	                </form>
                </div>
            </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific js -->
<script src="{% static 'js/form_elements/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/wizard.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-maskedinput/jquery.maskedinput.js' %}"></script>
<script src="{% static 'js/dashboard/lib/select2.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/dashboard/form_elements/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery.bootstrap.wizard.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.0.2/js/bootstrap-switch.min.js"></script>
<script src="{% static 'js/dashboard/settings_form.js' %}"></script>
<script src="{% static 'js/create_conference.js' %}"></script>
<script>
$(document).ready(function() {
	$("#blocks-form input:checkbox").bootstrapSwitch();

	$('.datetimepicker').datetimepicker({
	  autoclose: true
	});
});
</script>
<style>
  .form-control {
    padding: 0px 0px;
  }
<style>
{% endblock scripts %}
