#profile-form label {
    width: 100px;
    margin-right: 10px;
}
#profile-form .form-control {
    width: 70%;
}
#profile-form .form-actions,
#sponsor-form .form-actions {
    clear: both;
}
#profile-form .gravatar {
    margin-bottom: 20px;
    height: 80px;
    width: auto;
}
#settings-form .form-group {
    margin-left: 0px;
}
#settings-form #div_id_url .asteriskField,
#settings-form #div_id_event-url .asteriskField {
    display: none;
}
#settings-form #div_id_url label,
#settings-form #div_id_event-url label {
    text-transform: lowercase;
}
.requiredField {
    font-weight: bold;
}

/* Location form */
#location-form #div_id_address_lat, #location-form #div_id_address_lng {
    display: none;
}
#map {
    height: 400px;
    width: 100%;
}
#location-form textarea {
    height: 100px;
}
#pac-input {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0px 0px 2px;
    box-sizing: border-box;
    height: 32px;
    outline: medium none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    padding: 0px 11px 0px 13px;
    font-size: 15px;
    text-overflow: ellipsis;
}
#pac-input:focus {
    border-color: #4D90FE;
    margin-left: -1px;
    padding-left: 14px;
    width: 401px;
}
.bootstrap-switch {
    border: 1px solid #666 !important;
}
.bootstrap-switch .bootstrap-switch-container,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch,
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch .bootstrap-switch-label,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
    border-radius: 0px;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-image: none;
    background: none repeat scroll 0% 0% #618FB0;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default:hover,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #FFF;
    background: none repeat scroll 0% 0% #E5603B;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default:hover,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset;
    text-shadow: none;
}
.bootstrap-switch.bootstrap-switch-focused {
    box-shadow: none !important;
    border: 0px none;
}

.datetimepicker {
    color: #555;   
}
.datetimepicker table tr td.active:active,.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active,
.datetimepicker table tr td.active.active:hover, .datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled.active:hover,
.datetimepicker table tr td span.active:active,.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.active:hover,
.datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled.active:hover{
    background-color: #618FB0;
    background-image: none;
    border-radius: 0px;
}