{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% load gravatar %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}MyConference{% endblock %}</title>
    {% block styles %}{% endblock %}
    <link href="{% static 'css/dashboard/application.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard/style.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    {% block extrahead %}{% endblock %}
</head>
<body class="background-light" id="header" name="{{ eventid }}">
<div class="logo">
    <h4><a href="{% url 'home' %}">My<strong>Conference</strong></a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="{{ dashboard_active }}">
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i> <span class="name">{% trans 'Dashboard' %}</span></a>
        </li>
        {% block menu %}{% endblock %}
    </ul>
</nav>
<div class="wrap">
    <header class="page-header">
        <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    {% if not dashboard %}
                    <li class="dropdown">
                        <a href="#" title="Messages" id="messages"
                           class="dropdown-toggle"
                           {% if messages %}
                             style="color: #ef4444"
                           {% endif %}
                           data-toggle="dropdown">
                            <i class="fa fa-comments"></i>
                            <span class="count" id="inboxHeaderCounter">{{unread}}</span>
                        </a>
                        <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                          {% for message in messages %}
                            <li role="presentation">
                                <a href="{% url 'inbox' %}{{ eventid }}" class="message">
                                    <img src="{{message.avatar}}" alt="">
                                    <div class="details">
                                        <div class="sender">{{message.user.username}}</div>
                                        <div class="text">
                                            {{message.mail.subject}}
                                        </div>
                                    </div>
                                </a>
                            </li>
                          {% endfor %}
                            <li role="presentation" id="loadMoreMessage">
                                <a href="{% url 'inbox' %}{{ eventid }}" class="text-align-center see-all">
                                    {% trans 'See all messages' %} <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if not dashboard %}
                    <li class="dropdown">
                        <a href="#" title="8 support tickets"
                           id="tasksDropdown"
                           class="dropdown-toggle"
                           {% if newer_tasks %}
                             style="color: #ef4444"
                           {% endif %}
                           data-toggle="dropdown">
                            <i class="fa fa-group"></i>
                            <span class="count" id="tasksHeaderCounter">{{tasks}}</span>
                        </a>
                        <ul id="tasks-menu" class="dropdown-menu support" role="menu">
                          {% for task in newer_tasks %}
                            <li role="presentation">
                                <a href="{% url 'tasks' %}{{ eventid }}" class="support-ticket">
                                    <div class="picture">
                                      {% if task.priority == 1 %}
                                        <span class="label label-important"><i class="fa fa-bell-o"></i></span>
                                      {% elif task.priority == 2 %}
                                        <span class="label label-warning"><i class="fa fa-exclamation-circle"></i></span>
                                      {% else %}
                                        <span class="label label-success"><i class="fa fa-tag"></i></span>
                                      {% endif %}
                                    </div>
                                    <div class="details">
                                        {{task.title}}
                                    </div>
                                </a>
                            </li>
                          {% endfor %}
                            <li role="presentation">
                                <a href="{% url 'tasks' %}{{ eventid }}" class="text-align-center see-all">
                                    {% trans 'See all tasks' %} <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="divider"></li>
                    <li class="hidden-xs">
                        <a href="#" id="settings"
                           title="Settings"
                           data-toggle="popover"
                           data-placement="bottom">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <li class="hidden-xs dropdown">
                        <a href="#" title="Account" id="account"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul id="account-menu" class="dropdown-menu account" role="menu">
                            <li role="presentation" class="account-picture">
                                {% gravatar user.email 50 %}
                                {{ user.username }}
                            </li>
                            <li role="presentation">
                                <a href="{% url 'profile' 'dashboard' user.username %}" class="link">
                                    <i class="fa fa-user"></i>
                                    {% trans 'Profile' %}
                                </a>
                            </li>
                            {% if not dashboard %}
                            <li role="presentation">
                                <a href="{% url 'calendar' %}{{ eventid }}" class="link">
                                    <i class="fa fa-calendar"></i>
                                    {% trans 'Calendar' %}
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'inbox' %}{{ eventid }}" class="link">
                                    <i class="fa fa-inbox"></i>
                                    {% trans 'Inbox' %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="hidden-xs"><a href="https://kiwiirc.com/client/chat.freenode.net/?nick=Confy|?&theme=cli#myconference" target="_blank"><i class="fa fa-ambulance"></i></a></li>
                    <li class="hidden-xs"><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i></a></li>
                </ul>
                <div class="notifications pull-right" id="notification" style="display: none;">
                    <div class="alert pull-right">
                        <i class="fa fa-info-circle" id="notificationMessage"></i>
                    </div>
                </div>
        </div>
    </header>

    {% block content %}{% endblock %}

<div class="loader-wrap hiding hide">
    <i class="fa fa-spinner fa-spin"></i>
</div>

{% block scripts %}
<script src="http://localhost:4000/socket.io/socket.io.js"></script>
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/base_functions.js' %}"></script>
<!-- jquery and friends -->
<script src="{% static 'js/jquery-2.1.0.min.js' %}"> </script>

<!--backbone and friends -->
<script src="{% static 'js/dashboard/lib/backbone/underscore-min.js' %}"></script>

<!-- bootstrap default plugins -->
<script src="{% static 'js/dashboard/lib/bootstrap/transition.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/collapse.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/alert.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/tooltip.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/popover.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/button.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/tab.js' %}"> </script>
<script src="{% static 'js/dashboard/lib/bootstrap/dropdown.js' %}"></script>

<!-- basic application js-->
<script src="{% static 'js/dashboard/app.js' %}"></script>
<!-- <script src="{% static 'js/dashboard/settings.js' %}"></script> -->

<script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>

<script type="text/template" id="message-template">
        <div class="sender pull-left">
            <div class="icon">
                <img src="img/2.jpg" class="img-circle" alt="">
            </div>
            <div class="time">
                just now
            </div>
        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender">Tikhon Laninga</div>
            <div class="text">
                <%- text %>
            </div>
        </div>
</script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">Auto</button>
    <% } %>
</script>

<script type="text/javascript">
  socket.emit('register', { username: '{{username}}' });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4650617-19', 'myconference.co');
  ga('send', 'pageview');

</script>
{% endblock scripts %}

</body>
</html>
