{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference - {% trans 'Contacts' %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="page-title">{% trans 'Contacts' %}<small>Search and create contacts</small></h2>
      </div>
  </div>
  <section class="widget">
    <div class="body">
        <div class="tabbable tabs-right">
            <ul id="myTabright" class="nav nav-tabs">
                <li class="{{members_active}}"><a href="#members-right" data-toggle="tab">Members</a></li>
                <li class="{{speakers_active}}"><a href="#speakers-right" data-toggle="tab">Speakers</a></li>
                <li class="{{sponsors_active}}"><a href="#sponsors-right" data-toggle="tab">Sponsors</a></li>
                <li class="{{attendees_active}}"><a href="#attendees-right" data-toggle="tab">Attendees</a></li>
            </ul>
            <div id="myTabContentright" class="tab-content" >
                <div class="tab-pane fade in {{members_active}}" id="members-right">
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        {% if is_admin %}
                        <button class="btn btn-success eicon-user-add" data-toggle="modal" data-target="#myModalAdmin">Add Admin</button>
                        {% endif %}
                        <button class="btn btn-info eicon-user-add" data-toggle="modal" data-target="#myModalMember">Add member</button>
                        <button class="btn btn-warning eicon-user-add" data-toggle="modal" data-target="#myModalReviewer">Add reviewer</button>
                      </p>
                        <table id="datatable-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Webpage</th>
                                <th>Phone</th>
                                <th style="display: none;">Remove</th>
                            </tr>
                            </thead>
                            <tbody id="body_members">
                              {% for member in members %}
                                <tr>
                                  <td><strong>{{member.username}}</strong></td>
                                  <td><strong>{{member.first_name}}</strong></td>
                                  <td><strong>{{member.last_name}}</strong></td>
                                  <td>{{member.email}}</td>
                                  <td><a href="{{member.webpage}}">{{member.webpage}}</a></td>
                                  <td>{{member.phone}}</td>
                                  <td><a class="close" href="#" onclick="removeContact('{{member.username}}', 'member');">&times;</a></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                      </div>
                  </div>
                </div>
                <div class="tab-pane fade in {{speakers_active}}" id="speakers-right">
                  <div class="row">
                      <div class="col-md-12">
                          <table id="datatable-table" class="table table-striped">
                              <thead>
                              <tr>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>Email</th>
                                  <th>Webpage</th>
                                  <th>Phone</th>
                                  <th style="display: none;">Remove</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for speaker in speakers %}
                                  <tr>
                                    <td><strong>{{speaker.first_name}}</strong></td>
                                    <td><strong>{{speaker.last_name}}</strong></td>
                                    <td>{{speaker.email}}</td>
                                    <td><a href="{{speaker.webpage}}">{{speaker.webpage}}</a></td>
                                    <td>{{speaker.phone}}</td>
                                    <td><a class="close" data-dismiss="alert" href="#" onclick="removeContact('{{speaker.username}}', 'speaker');" aria-hidden="true">&times;</a></td>
                                  </tr>
                                  </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in {{sponsors_active}}" id="sponsors-right">
                    <div class="row">
                      <div class="col-md-12">
                        <p>
                          Sponsors will see the attendees information throw the following url:
                          {% if sponsorship_url %}
                           <a href="{% url 'sponsorship_info' eventid sponsorship_url %}" id="linkSponsorsView">{{sponsorship_url}}</a>
                          {% else %}
                           <a href="#" id="linkSponsorsView"></a>
                          {% endif %}
                          <button class="btn btn-primary fa fa-cog" onclick="generateSponsorsView()"> Generate link</button>
                        </p>
                        <p>
                          <a class="btn btn-primary eicon-user-add" href="{% url 'sponsors' eventid %}">Add sponsor</a>
                        </p>
                          <table id="datatable-table" class="table table-striped">
                              <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Webpage</th>
                                  <th>Phone</th>
                                  <th style="display: none;">Remove</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for sponsor in sponsors %}
                                  <tr>
                                    <td><strong>{{sponsor.name}}</strong></td>
                                    <td>{{sponsor.email}}</td>
                                    <td><a href="{{sponsor.webpage}}">{{sponsor.webpage}}</a></td>
                                    <td>{{sponsor.phone}}</td>
                                    <td><a class="close" data-dismiss="alert" href="#" onclick="removeContact('{{sponsor.name}}', 'sponsor');" aria-hidden="true">&times;</a></td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in {{attendees_active}}" id="attendees-right">
                    <div class="row">
                      <div class="col-md-12">
                          <p>
                              Export attendees information:
                              <a class="btn btn-primary fa fa-download" href="{% url 'contacts_export' eventid %}"> CSV file</a>
                          </p>
                          <table id="datatable-table" class="table table-striped">
                              <thead>
                              <tr>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>Email</th>
                                  <th>Webpage</th>
                                  <th style="display: none;">Remove</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for attendee in attendees %}
                                  <tr>
                                    <td><strong>{{attendee.first_name}}</strong></td>
                                    <td><strong>{{attendee.last_name}}</strong></td>
                                    <td>{{attendee.email}}</td>
                                    <td><a href="{{attendee.webpage}}">{{attendee.webpage}}</a></td>
                                    <td><a class="close" data-dismiss="alert" href="#" onclick="removeContact('{{attendee.username}}', 'attendee');" aria-hidden="true">&times;</a></td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

<div class="body">
    <div id="myModalReviewer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Add reviewer!</h4>
                </div>
                <div class="modal-body">
                    Add a new reviewer to this event and let them help you to review the proposed talks!
                    <div class="control-group">
                        <label class="control-label" for="search_email">Enter a valid username to search for an user:</label>
                        <div class="controls form-group">
                          <div class="ui-widget col-md-10">
                              <input type="text" id="usernameReviewer" name="username"
                                class="form-control" placeholder="username">
                          </div>
                          <div class="col-md-2">
                              <span id="foundWarning" style="display: none; color: red" class="help-block"><i class="fa eicon-cancel-circled"></i> Not found</span>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addReviewer();">Add reviewer</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<div class="body">
    <div id="myModalMember" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Add member!</h4>
                </div>
                <div class="modal-body">
                    Add new members to this event and build a team to make your Conference awesome!
                    <div class="control-group">
                        <label class="control-label" for="search_email">Enter a valid username to search for an user:</label>
                        <div class="controls form-group">
                          <div class="ui-widget col-md-10">
                              <input type="text" id="usernameMember" name="username"
                                class="form-control" placeholder="username">
                          </div>
                          <div class="col-md-2">
                              <span id="foundWarning" style="display: none; color: red" class="help-block"><i class="fa eicon-cancel-circled"></i> Not found</span>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addMember();">Add member</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<div class="body">
    <div id="myModalAdmin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Add Admin!</h4>
                </div>
                <div class="modal-body">
                    Add new administrators to this event and build a team to make your Conference awesome!
                    <div class="control-group">
                        <label class="control-label" for="search_email">Enter a valid username to search for an user:</label>
                        <div class="controls form-group">
                          <div class="ui-widget col-md-10">
                              <input type="text" id="usernameAdmin" name="username"
                                class="form-control" placeholder="username">
                          </div>
                          <div class="col-md-2">
                              <span id="foundWarning" style="display: none; color: red" class="help-block"><i class="fa eicon-cancel-circled"></i> Not found</span>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addAdmin();">Add Admin</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<div class="body">
    <div id="myModalRemove" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
              <form id="formDelete" action='{% url 'remove_contact' %}{{ eventid }}/' method="POST">
                {% csrf_token %}
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel">Remove!</h4>
                </div>
                <div class="modal-body">
                  <p>You are about to remove <strong id="userToRemove"></strong> from the Conference.</p>
                  <p>Do you want to continue?</p>
                  <input type="text" id="remove" name="remove" style="display: none;" class="form-control">
                  <input type="text" id="operation" name="operation" style="display: none;" class="form-control">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Remove</button>
                </div>
              </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<div class="body">
    <div id="myModalSponsor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
              <form id="formDelete" action='{% url 'add_sponsor' %}{{ eventid }}/' method="POST" class="form-horizontal form-condensed">
                {% csrf_token %}
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel">Add Sponsor!</h4>
                </div>

                <div class="modal-body">
                  <p>Enter the Sponsor information</p>
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label"  for="name">{% blocktrans %}Sponsor Name{% endblocktrans %}</label>
                      <div class="controls form-group">
                        <div class="col-md-12">
                          <input type="text" id="sponsorName" name="name" class="form-control">
                        </div>
                      </div>

                      <label class="control-label"  for="email">{% blocktrans %}e-mail{% endblocktrans %}</label>
                      <div class="controls form-group">
                        <div class="col-md-12">
                          <input type="text" id="conferenceName" name="email" class="form-control">
                        </div>
                      </div>

                      <label class="control-label"  for="phone">{% blocktrans %}Phone{% endblocktrans %}</label>
                      <div class="controls form-group">
                        <div class="col-md-12">
                          <input type="text" id="conferenceName" name="phone" class="form-control">
                        </div>
                      </div>

                      <label class="control-label"  for="website">{% blocktrans %}Company website{% endblocktrans %}</label>
                      <div class="controls form-group">
                        <div class="col-md-12">
                          <input type="text" id="conferenceName" name="website" class="form-control">
                        </div>
                      </div>

                      <label class="control-label"  for="description">{% blocktrans %}Description{% endblocktrans %}</label>
                      <div class="controls form-group">
                        <div class="col-md-12">
                          <textarea rows="3" class="autogrow form-control" name="description" id="description"></textarea>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Add Sponsor!</button>
                </div>
              </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/ui-dialogs.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backbone/backbone-min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backbone/backbone-pageable.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backgrid/backgrid.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backgrid/backgrid-paginator.js' %}"></script>
<script src="{% static 'js/contacts.js' %}"></script>
{% endblock scripts %}
