{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}MyConference - {% trans 'Calendar' %}{% endblock %}

{% block styles %}
<link href="{% static 'css/dashboard/jhtmlarea/jHtmlArea.css' %}" rel="stylesheet">
{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

  <div class="content container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="page-title">{% trans 'Customize Home' %}<small>{% trans 'Drag to change order' %}</small></h2>
          </div>
      </div>
    <div class="row">
      <button class="btn btn-info pull-right" onclick="save_order()">
        {% blocktrans %}Save order{% endblocktrans %} &nbsp;
      <i class="fa eicon-publish"></i></button>
      <button class="btn btn-success pull-right" onclick="new_section()">
        {% blocktrans %}New Section{% endblocktrans %} &nbsp;
      <i class="fa eicon-publish"></i></button>
        <div class="col-md-10">
            <h4>Sections</h4>
            <ol class="list-group list-group-outer sortable">
              {% for section in sections %}
                <li class="list-group-item" sectionid="{{section.id}}">
                    <i class="fa fa-sort"></i>
                    <a class="close" data-dismiss="alert" onclick="remove_section({{section.id}});" href="#" aria-hidden="true">&times;</a>
                    <a href="#" onclick="load_section({{section.id}});">&nbsp;&nbsp;&nbsp;{{section.title}}</a>
                </li>
              {% endfor %}
            </ol>
        </div>
        <div class="col-md-10">
          <h4>Section Content</h4>
        </div>
        <form class="form-horizontal" method="POST">
          {% csrf_token %}
          <div class="col-md-10">
            <section class="widget">
              <label for="title">{% trans 'Title:' %}</label>
              <fieldset>
              <input type="text" id="sectionid" name="sectionid" class="col-md-12" value="" style="display:none;"/>
              <input type="text" id="title" name="title" class="col-md-12"/>
              <textarea id="txtDefaultHtmlArea" name="htmlText" cols="133" rows="20"></textarea>
              <br>
              <div>
                <button type="submit" class="btn btn-info pull-right">
                  {% blocktrans %}Save section{% endblocktrans %} &nbsp;
                <i class="fa eicon-publish"></i></button>
              </div>
              </fieldset>
              <br><br>
            </section>
          </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/index.js' %}"></script>
<script src="{% static 'js/spin.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-ui-1.10.3.custom.js' %}"></script>

<script src="{% static 'js/dashboard/lib/jquery.ui.touch-punch.js' %}"> </script>
<script src="{% static 'js/dashboard/lib/jquery.nestable.js' %}"> </script>

<script src="{% static 'js/dashboard/list-groups.js' %}"> </script>

<script src="{% static 'js/dashboard/jhtmlarea/jHtmlArea-0.8.js' %}"></script>

<script type="text/javascript">
$(function() {
    $("#txtDefaultHtmlArea").htmlarea({
        toolbar: [
            ["html"], ["bold", "italic", "underline"],
            ["p", "ha", "hb", "hc", "hd", "he", "hf"],
            ["link", "unlink", "|", "image"],
        ],
        css: "{% static 'css/dashboard/jhtmlarea/editor.css' %}",
    });
});
</script>

<script>
function save_order() {
  var kids = $( "ol.list-group" ).children();
  var order = "";
  for (var i = 0; i < kids.length; i++) {
    order += $(kids[i]).attr("sectionid") + ",";
  }

  var eventid = $("#header").attr("name");
  $.get(buildUri(eventid, "custom_home", "save_order"),
  {order: order})
   .done(function (data){
     show_message("Order saved.");
   });
}

function new_section() {
  $("#sectionid").val("");
  $("#title").val("");
  $("#txtDefaultHtmlArea").val("").htmlarea('updateHtmlArea');
}

function remove_section(sectionid) {
  var eventid = $("#header").attr("name");
  $.get(buildUri(eventid, "custom_home", "remove", sectionid),
  {})
   .done(function (data){
     show_message("Section removed.");
   });
}

function load_section(sectionid) {
  var eventid = $("#header").attr("name");
  $.get(buildUri(eventid, "custom_home", "get", sectionid),
  {})
   .done(function (data){
     if (data.title) {
       $("#sectionid").val(data.sectionid);
       $("#title").val(data.title);
       $("#txtDefaultHtmlArea").val(data.text).htmlarea('updateHtmlArea');
     }
   });
}
</script>

{% endblock scripts %}
