{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference - Event Manager{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-8">
      <section class="widget">
        <div class="jumbotron">
            <div class="container">
                <h1>{{ project_name }}</h1>
                <br>
                <p class="lead">{{ project_description }}</p>
                <p>
                  <div class="row">
                    <div class="col-md-6">
                      <a href="{% url 'home' %}{{url}}" class="btn btn-info btn-lg">
                        {% trans 'View Site' %} &nbsp;
                      <i class="fa eicon-paper-plane"></i></a>
                    </div>
                  </div>
                </p>
            </div>
        </div>
      </section>
      {% if configuration.first_time %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong><i class="fa fa-info-circle"></i> {% trans 'Congratulations!' %} </strong> {% trans 'You have successfully created your conference site.' %}
        <p><br>
          <strong>Now some tips:</strong>
        </p>
        <ul>
          <li><i class="fa fa-check-square-o"></i> {% trans 'Check the menu at the left side, you can do LOTS of managment and configuration stuff from there.' %}</li>
          <li><i class="fa fa-check-square-o"></i> {% trans 'Add a Venue! Go to "Location" and let people know how to get to your conference.' %}</li>
          <li><i class="fa fa-check-square-o"></i> {% trans 'You can change the Conference date or manage different events at "Calendar".' %}</li>
          <li><i class="fa fa-check-square-o"></i> {% trans 'Add Collaborators for this Conference at "Contacts".' %}</li>
          <li><i class="fa fa-check-square-o"></i> {% trans 'Choose the best template for your conference and rearrange the UI at "UI Designer".' %}</li>
          <li><i class="fa fa-check-square-o"></i> {% trans 'Explore the different sections an find out about more awesome features!' %}</li>
        <ul>
      </div>
      {% endif %}
      <section class="widget">
        <div class="row">
          <div class="col-md-6">
            <section class="widget">
              <header>
                <h5>
                  <i class="fa fa-cog"></i>
                  {% trans 'Conference Site Blocks' %}
                </h5>
              </header>
              <div class="body">
                <div class="panel-group" id="accordion1">
                  {% for block in configuration.conference_blocks %}
                  <div class="panel">
                    <div class="panel-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{block.block_key}}">
                        <i class="fa fa-chevron-down"></i> {{block.block_title}}
                      </a>
                      <label class="checkbox inline">
                        <span class="switch switch-small" data-on="primary" data-off="danger">
                          <input id="{{block.block_key}}" type="checkbox" onchange="setConfiguration({{eventid}}, '{{block.block_key}}')" {{block.block_value}}>
                        </span>
                      </label>
                    </div>
                    <div id="collapse{{block.block_key}}" class="panel-collapse collapse" style="height: auto;">
                      <div class="panel-body">
                        {{block.block_text}}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </section>
          </div>
          <div class="col-md-6">
            <section class="widget">
              <header>
                <h5>
                  <i class="fa fa-check-square-o"></i>
                  {% trans 'Organizers Site Blocks' %}
                </h5>
              </header>
              <div class="body">
                <div class="panel-group" id="accordion2">
                  {% for block in configuration.organizers_blocks %}
                  <div class="panel">
                    <div class="panel-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{block.block_key}}">
                        <i class="fa fa-chevron-down"></i> {{block.block_title}}
                      </a>
                      <label class="checkbox inline">
                        <span class="switch switch-small" data-on="primary" data-off="danger">
                          <input id="{{block.block_key}}" type="checkbox" onchange="setConfiguration({{eventid}}, '{{block.block_key}}')" {{block.block_value}}>
                        </span>
                      </label>
                    </div>
                    <div id="collapse{{block.block_key}}" class="panel-collapse collapse" style="height: auto;">
                      <div class="panel-body">
                        {{block.block_text}}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <section class="widget">
        <div class="list-group">
          <a href="{% url 'inbox' %}{{ eventid }}" class="list-group-item">
            <i class="fa fa-chevron-right pull-right"></i>
            <span class="badge badge-success"
              id="managerMessagesCounter">{{unread}}</span>
            <i class="fa fa-envelope-o"></i>&nbsp;
            {% trans 'Messages' %}
          </a>
          <a href="{% url 'tasks' %}{{ eventid }}" class="list-group-item">
            <i class="fa fa-chevron-right pull-right"></i>
            <span class="badge badge-danger"
              id="managerTasksCounter">{{tasks}}</span>
            <i class="fa fa-tasks"></i>&nbsp;
            {% trans 'Remaining Tasks' %}
          </a>
          <a href="{% url 'contacts' %}{{ eventid }}" class="list-group-item">
            <i class="fa fa-chevron-right pull-right"></i>
            <span class="badge badge-info">{{members_counter}}</span>
            <i class="fa fa-users"></i>&nbsp;
            {% trans 'Members' %}
          </a>
          <a href="{% url 'contacts' %}{{ eventid }}?current=attendees" class="list-group-item">
            <i class="fa fa-chevron-right pull-right"></i>
            <span class="badge badge-default">0</span>
            <i class="fa fa-user"></i>&nbsp;
            {% trans 'Attendees' %}
          </a>
          <a href="{% url 'contacts' %}{{ eventid }}?current=speakers" class="list-group-item">
            <i class="fa fa-chevron-right pull-right"></i>
            <span class="badge badge-info">0</span>
            <i class="fa fa-male"></i>&nbsp;
            {% trans 'Speakers' %}
          </a>
          <a href="{% url 'contacts' %}{{ eventid }}?current=sponsors" class="list-group-item">
            <i class="fa fa-chevron-right pull-right"></i>
            <span class="badge badge-primary">0</span>
            <i class="fa fa-linux"></i>&nbsp;
            {% trans 'Sponsors' %}
          </a>
          <a href="{% url 'invoice' %}{{ eventid }}" class="list-group-item">
            <i class="fa fa-chevron-right pull-right"></i>
            <span class="badge badge-warning">$ 0</span>
            <i class="fa fa-usd"></i>&nbsp;
            {% trans 'Expenses' %}
          </a>
        </div>
      </section>
      <section class="widget large">
        <header>
          <h4>
            <i class="eicon-share"></i>
            {% blocktrans with p_name=project_name %}
            Feed {{ p_name }}.
            {% endblocktrans %}
          </h4>
        </header>
        <div class="body">
          <div id="feed" class="feed">
            <div class="wrapper" id="feedsList">
              {% for feed in feeds %}
              <section class="feed-item">
                <div class="icon pull-left">
                  {% if feed.active %}
                    <i class="fa fa-comment"></i>
                  {% else %}
                    <i class="fa fa-check color-green"></i>
                  {% endif %}
                </div>
                <div class="feed-item-body">
                  <div class="text">
                    {% if feed.active %}
                      {% blocktrans with user=feed.user title=feed.title link_task=feed.link_task link_user=feed.link_user taskid=feed.taskid %}<a href="{{link_user}}">{{user}}</a> commented on <a href="{{link_task}}?id={{taskid}}">{{title}}</a>.{% endblocktrans %}
                    {% else %}
                      {% blocktrans with user=feed.user title=feed.title link_task=feed.link_task link_user=feed.link_user taskid=feed.taskid %}<a href="{{link_task}}?id={{taskid}}">{{title}}</a> has been completed by <a href="{{link_user}}">{{user}}</a>.{% endblocktrans %}
                    {% endif %}
                  </div>
                  <div class="time pull-left">
                    {{feed.time}}
                  </div>
                </div>
              </section>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap-switch.js' %}"></script>
<script src="{% static 'js/dashboard/lib/select2.js' %}"></script>
<!-- jquery plugins -->
<script src="{% static 'js/dashboard/lib/sparkline/jquery.sparkline.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-ui-1.10.3.custom.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery.slimscroll.js' %}"></script>
<!-- d3, nvd3-->
<script src="{% static 'js/dashboard/lib/nvd3/lib/d3.v2.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/nv.d3.custom.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/stream_layers.js' %}"></script>
<script src="{% static 'js/dashboard/index.js' %}"></script>
<script src="{% static 'js/dashboard/forms.js' %}"></script>
<script src="{% static 'js/dashboard/event_manager.js' %}"></script>
{% endblock scripts %}
