{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}MyConference - Event Manager{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">{% trans 'Inbox' %} <small>{% trans 'Send messages to the members of this event' %}</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h4>
                        {% trans 'Inbox Messages' %}
                    </h4>
                </header>
                <div class="body">
                    <div id="loading">
                    </div>
                    <div id="mailbox-app" class="mailbox">
                        <div class="row">
                            <div class="col-sm-2">
                                <button id="compose-btn" class="btn btn-danger btn-block" onclick="showComposeView();">{% trans 'Compose' %}</button>
                                <ul id="folders-list" class="mailbox-folders">
                                    <li class="active"><a href="javascript:void(0);" onclick="showMailsView();">{% trans 'Inbox' %}</a></li>
                                    <li id="searchResults" style="display: none;"><a href="#">{% trans 'Search Results' %}</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-10" id="mailsView">
                                <h2 id='folder-title' class="folder-title">{% trans 'Inbox' %} <small id="unreadMessages">{% blocktrans %} ({{ unread }} messages).{% endblocktrans %}</small></h2>
                                <!-- IMPLEMENT SEARCH
                                <form class="form-inline form-search text-align-right" action="">
                                    <label>
                                        <input type="search" id="mailbox-search" class="input-transparent input-search" placeholder="Search messages"/>
                                    </label>
                                </form> -->
                                <div id="mailbox-content" class="mailbox-content">
                                    <table id="folder-view" class="folder-view table table-striped">
                                        <thead>
                                        <tr>
                                            <th colspan="6" class="total-pages">
                                                <i id="pagePositon">{% blocktrans %} {{ page }} of {{ pagenum }} {% endblocktrans %}</i>
                                                <button class="btn btn-default btn-xs" onclick="loadPage(true);">
                                                    <i class="fa fa-angle-left fa-lg"></i>
                                                </button>
                                                <button class="btn btn-default btn-xs" onclick="loadPage(false);">
                                                    <i class="fa fa-angle-right fa-lg"></i>
                                                </button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                        {% for mail in mails %}
                                          {% if mail.unread %}
                                            <tr onclick="openMail({{mail.id}}, true);" id="mailItem{{mail.id}}">
                                                <td class="tiny-column"><i id="envelope" class="fa fa-envelope"></i></td>
                                                <td class="name" id="mailName"><strong>{{mail.username}}</strong></td>
                                                <td class="subject" id="mailSubject"><strong>{{mail.subject}}</strong></td>
                                          {% else %}
                                            <tr onclick="openMail({{mail.id}}, false);" id="mailItem{{mail.id}}">
                                                <td class="tiny-column"><i class="fa fa-envelope-o"></i></td>
                                                <td class="name">{{mail.username}}</td>
                                                <td class="subject">{{mail.subject}}</td>
                                          {% endif %}
                                              <td class="name">{{mail.date}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-10" id="composeView" style="display: none;">
                              <form id="email-compose" class="form-horizontal form-email-compose" method="POST"
                                enctype="multipart/form-data" action="{% url 'send_mail' %}{{ eventid }}/">
                                  {% csrf_token %}
                                  <div class="control-group">
                                    <p>
                                      <label>To: <strong>{{project_name}}</strong></label>
                                    </p>
                                  </div>
                                  <fieldset>
                                    <div class="control-group">
                                      <p>
                                        <input type="text" id="input-subject" name="subject" placeholder="Subject" class="input-transparent form-control">
                                      </p>
                                    </div>
                                    <div class="control-group">
                                      <textarea rows="12" class="input-transparent col-sm-12" name="body" id="email-body"></textarea>
                                    </div>
                                  </fieldset>
                                  <br>
                                  <div class="control-group">
                                      <button type="submit" id="compose-send-button" class="btn btn-sm btn-primary">&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;</button>
                                      <button type="reset" id="compose-discard-button" class="btn btn-sm btn-transparent" onclick="showMailsView();">{% trans 'Discard' %}</button>
                                  </div>
                              </form>
                            </div>
                            <div class="col-sm-10" id="readView" style="display: none;">
                              <section class="widget">
                                <header>
                                    <h5 id="readSubject">
                                        <i class="fa fa-envelope-o"></i>
                                    </h5>
                                </header>
                                <div class="body">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel" id="mailRead">
                                            <div class="panel-heading">
                                                <a id="readUsername" class="accordion-toggle" data-toggle="collapse" href="#collapseItem">
                                                </a>
                                            </div>
                                            <div id="collapseItem" class="panel-collapse in collapse">
                                                <div class="panel-body" id="readBody">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form id="email-reply" class="form-horizontal form-email-compose" method="POST"
                                    enctype="multipart/form-data" action="{% url 'reply_mail' %}{{ eventid }}/">
                                      {% csrf_token %}
                                  <fieldset>
                                    <input type="text" id="mailId" name="mailId" style="display: none;" readonly value="">
                                    <div class="control-group" id="messageReply" style="display: none;">
                                      <textarea rows="12" name="body" class="input-transparent col-sm-12" id="email-body"></textarea>
                                    </div>
                                  </fieldset>
                                  <div class="control-group">
                                      <button id="replyAll" type="reset" class="btn btn-sm btn-primary" onclick="reply();"><i class="fa fa-mail-reply"></i>&nbsp;&nbsp;&nbsp;{% trans 'Reply All' %}&nbsp;&nbsp;&nbsp;</button>
                                      <button id="replySend" type="submit" style="display: none;" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;{% trans 'Send' %}&nbsp;&nbsp;&nbsp;</button>
                                      <button type="reset" id="replyDiscard" style="display: none;" class="btn btn-sm btn-transparent" onclick="discardReply();">{% trans 'Discard' %}</button>
                                  </div>
                              </form>
                            </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/spin.min.js' %}"></script>
<script src="{% static 'js/dashboard/inbox.js' %}"></script>

{% endblock scripts %}
