{% load i18n %}

<li class="panel active">
    <a class="accordion-toggle expanded" data-toggle="collapse"
       data-parent="#side-nav" href="#forms-collapse">
       <i class="fa fa-edit"></i> <span class="name">{{ project_name }}</span></a>
    <ul id="forms-collapse" class="panel-collapse open in">
        <li class="{{ event_manager_active }}"><a href="{% url 'event_manager' %}{{ eventid }}"><i class="fa fa-dashboard"></i> {% trans 'Event Manager' %}</a></li>
        <!-- <li class="{{ statistics_active }}"><a href="{% url 'statistics' %}{{ eventid }}"><i class="fa fa-bar-chart-o"></i> Statistics</a></li> -->
        <li class="{{ inbox_active }}"><a href="{% url 'inbox' %}{{ eventid }}"><i class="fa fa-envelope-o"></i> {% trans 'Inbox' %} <span class="label label-success" id="inboxCounter">{{unread}}</span></a></li>
        <li class="{{ tasks_active }}"><a href="{% url 'tasks' %}{{ eventid }}"><i class="fa fa-tasks"></i> {% trans 'Tasks' %} <span class="label label-danger" id="tasksCounter">{{tasks}}</span></a></li>
        <li class="{{ schedule_active }}"><a href="{% url 'dashboard_schedule' %}{{ eventid }}"><i class="fa fa-calendar"></i> {% trans 'Schedule' %}</a></li>
        <!-- <li class="{{ ui_designer_active }}"><a href="{% url 'designer' %}{{ eventid }}"><i class="fa fa-magic"></i> UI Designer</a></li> -->
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#menu-levels-collapse" href="#sub-menu-1-collapse"><i class="fa fa-cogs"></i> {% trans 'Blocks' %}</a>
            <ul id="sub-menu-1-collapse" class="panel-collapse collapse">
                <li><a href="{% url 'customize_home' %}{{ eventid }}">{% trans 'Customize Home' %}</a></li>
                <li><a href="{% url 'call_for_proposals' %}{{ eventid }}">{% trans 'Call for Proposals' %}</a></li>
                <li><a href="{% url 'sponsors' eventid %}">{% trans 'Sponsors' %}</a></li>
                <li><a href="{% url 'customize_design' eventid %}">{% trans 'Customize design' %}</a></li>
                <li><a href="{% url 'code_of_conduct' %}{{ eventid }}">{% trans 'Code of Conduct' %}</a></li>
            </ul>
        </li>
        <li class="{{ contacts_active }}"><a href="{% url 'contacts' %}{{ eventid }}"><i class="fa fa-group"></i> {% trans 'Contacts' %}</a></li>
        <li class="{{ calendar_active }}"><a href="{% url 'calendar' %}{{ eventid }}"><i class="fa fa-calendar"></i> {% trans 'Calendar' %}</a></li>
        <!-- <li class="{{ invoice_active }}"><a href="{% url 'invoice' %}{{ eventid }}"><i class="fa fa-table"></i> Invoice Expenses</a></li> -->
        <li class="{{ location_active }}"><a href="{% url 'locations' eventid %}"><i class="fa eicon-address"></i>{% trans 'Location' %}</a></li>
        <li class="{{ social_active }}"><a href="{% url 'social' %}{{ eventid }}"><i class="fa fa-twitter"></i> {% trans 'Social' %}</a></li>
        <li class="{{ settings_active }}"><a href="{% url 'settings' %}{{ eventid }}"><i class="fa fa-code"></i> {% trans 'Settings' %}</a></li>
    </ul>
</li>
