{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference - Event Manager{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">{% trans 'Settings' %} <small>{% trans 'Edit or delete the event' %}</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section class="widget">
                <div class="body">
                  <div class="alert alert-danger" style="display: {{ display }}">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <h4><i class="fa fa-ban"></i> <strong>{% blocktrans %}Oh snap! You got an error!{% endblocktrans %}</strong></h4>
                      <p>{% blocktrans %}You probably entered an invalid URL or an empty Conference Name{% endblocktrans %}</p>
                  </div>
                    <form class="form-horizontal" action='{% url 'settings' %}{{eventid}}/' method="POST" novalidate="novalidate" data-validate="parsley">
                        {% csrf_token %}
                        <fieldset>
                            <div class="control-group">
                                <label for="title" class="control-label">{% trans 'Conference Name' %}</label>
                                <div class="controls form-group">
                                    <input type="text" id="title" name="title" class="form-control"
                                            required="required" value="{{project_name}}">
                                </div>
                            </div>
                            <p><b>{% blocktrans %}Conference website url:{% endblocktrans %}</b></p>
                            <div class="control-group">
                                <label class="control-label" for="url">myconference.co/</label>
                                <div class="controls form-group">
                                  <div class="col-md-10">
                                      <input type="text" id="website" name="website"
                                        class="form-control input-transparent" placeholder="my-awesome-conference" value="{{ url }}">
                                      <span class="help-block">{% blocktrans %}URL can contain any letters, numbers or underscores, without spaces{% endblocktrans %}</span>
                                  </div>
                                  <div class="col-md-2">
                                      <span id="availableWarning" style="display: none; color: yellow" class="help-block"><i class="fa fa-warning"></i> {% blocktrans %}Not available{% endblocktrans %}</span>
                                  </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="startingOn">{% blocktrans %}Starting on:{% endblocktrans %}</label>
                                <div class="controls form-group">
                                  <div class="col-sm-3">
                                    <input id="startingOn" class="date-picker form-control" required="required" type="text" name="startingOn" value="{{start_date}}" data-date-format="dd/mm/yyyy">
                                  </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="endingOn">{% blocktrans %}Ending on:{% endblocktrans %}</label>
                                <div class="controls form-group">
                                  <div class="col-sm-3">
                                    <input id="endingOn" class="date-picker form-control" required="required" type="text" name="endingOn" value="{{end_date}}" data-date-format="dd/mm/yyyy">
                                  </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="tags">{% blocktrans %}Tags{% endblocktrans %}</label>
                                <div class="controls form-group">
                                    <div class="col-md-10">
                                        <input type="text" id="article-tags" name="tags"
                                               class="select-block-level" value="{{ tags }}">
                                        <span class="help-block">{% blocktrans %}Write or select a tag and press "Enter" to add it.{% endblocktrans %}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="description" class="control-label">{% trans 'Description' %}</label>
                                <div class="controls form-group">
                                    <textarea id="description" rows="3" name="description" class="form-control" >{{summary}}</textarea>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
                            <button type="button" class="btn btn-default">{% trans 'Cancel' %}</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="widget">
                <header>
                  {% if is_admin %}
                    <h4><i class="fa fa-key"></i> {% trans 'Remove' %} <small>{% trans 'permanent action' %}</small></h4>
                  {% else %}
                    <h4><i class="fa fa-key"></i> {% trans 'Leave' %} <small>{% trans 'permanent action' %}</small></h4>
                  {% endif %}
                </header>
                <div class="body">
                    <form id="article-options" class="form-horizontal form-condensed label-left"
                          method="post">
                        <fieldset>
                          {% if is_admin %}
                            <legend class="section" style="color: red;">{% trans 'WARNING: This action cannot be undone' %}</legend>
                          {% else %}
                            <legend class="section" style="color: red;">{% trans 'WARNING: This action cannot be undone by you' %}</legend>
                          {% endif %}
                            <div class="control-group">
                              <div class="col-md-6">
                                <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
                                  {% if is_admin %}
                                    {% trans 'Delete Conference' %} &nbsp;
                                  {% else %}
                                    {% trans 'Leave Conference' %} &nbsp;
                                  {% endif %}

                                <i class="fa eicon-cancel-circled"></i></a>
                              </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="body">
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="formDelete" action='{% url 'delete_conference' %}{{ eventid }}/' method="POST">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          {% if is_admin %}
            <h4 class="modal-title" id="myModalLabel">{% trans 'Delete Conference' %}</h4>
          </div>
          <div class="modal-body">
            <p><strong>{% trans 'This action CANNOT be undone.' %}</strong> {% blocktrans %} This will delete <strong>{{ project_name }}</strong> permanently.{% endblocktrans %}</p>
          {% else %}
            <h4 class="modal-title" id="myModalLabel">Leave Conference</h4>
          </div>
          <div class="modal-body">
            <p><strong>{% trans 'This action CANNOT be undone by you.' %}</strong> {% blocktrans %} This will remove you from <strong>{{ project_name }}</strong>.{% endblocktrans %}</p>
          {% endif %}
            <p>{% trans 'Please type in the name of the conference to confirm.' %}</p>
            <input type="text" id="conferenceName" name="conferenceName" placeholder="" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
            {% if is_admin %}
              <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
            {% else %}
              <button type="submit" class="btn btn-danger">{% trans 'Leave' %}</button>
            {% endif %}
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/index.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/ui-dialogs.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-maskedinput/jquery.maskedinput.js' %}"></script>
<script src="{% static 'js/dashboard/lib/select2.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'js/dashboard/forms.js' %}"></script>
<script src="{% static 'js/dashboard/settings_form.js' %}"></script>

<script>
function addWebsiteUrlCallback($textInput, callback, delay) {
  var timer = null;
  $textInput.keyup(function() {
    if (timer) {
        window.clearTimeout(timer);
    }
    timer = window.setTimeout( function() {
        timer = null;
        callback();
    }, delay );
  });
  $textInput = null;
}

function checkValidConferenceUrl() {
  var $url = $('#website').val();
  $.get(API_DASHBOARD + "conference_url_available",
  { eventurl: $url})
  .done(function( data ) {
    if (data.available) {
        $('#website').css("color", "white");
        $('#website').css("background", "#5d5d5d");
        $('#availableWarning').hide();
    } else {
        $('#website').css("color", "black");
        $('#website').css("background", "#ffc4c4");
        $('#availableWarning').show();
    }
  });
}

addWebsiteUrlCallback($("#website"), checkValidConferenceUrl, 500);
</script>
<style>
  .form-control {
    padding: 0px 0px;
  }
<style>
{% endblock scripts %}
