{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference - Event Manager{% endblock %}

{% block styles %}
<link href="{% static 'css/dashboard/jhtmlarea/jHtmlArea.css' %}" rel="stylesheet">
{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">{{single_page_title}} <small>{% trans 'Configure the text for this page.' %}</small></h2>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal" method="POST">
      {% csrf_token %}
      <div class="col-md-9">
        <section class="widget">
          <fieldset>
          <textarea id="txtDefaultHtmlArea" name="htmlText" cols="120" rows="20">{{content_page}}</textarea>
          <br>
          <div>
            <button type="submit" class="btn btn-info pull-right">
              {% blocktrans %}Save changes{% endblocktrans %} &nbsp;
            <i class="fa eicon-publish"></i></button>
          </div>
          </fieldset>
          <br><br>
        </section>
      </div>
  </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/dashboard/jhtmlarea/jHtmlArea-0.8.js' %}"></script>

<script type="text/javascript">
$(function() {
    $("#txtDefaultHtmlArea").htmlarea({
        toolbar: [
            ["html"], ["bold", "italic", "underline"],
            ["p", "ha", "hb", "hc", "hd", "he", "hf"],
            ["link", "unlink", "|", "image"],
        ],
        css: "{% static 'css/dashboard/jhtmlarea/editor.css' %}",
    });
});
</script>
{% endblock scripts %}
