{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}MyConference - Statistics{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="page-title">{% trans 'Charts' %} <small>{% trans 'Visual Charts &amp; Graphs' %}</small></h2>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3 col-sm-6">
          <section class="widget large">
              <header>
                  <h4><i class="fa fa-home"></i> Top sources</h4>
              </header>
              <div class="body">
                  <div id="sources-chart-pie" class="chart pie-chart">
                      <svg></svg>
                  </div>
              </div>
              <footer id="data-chart-footer" class="pie-chart-footer">
              </footer>
          </section>
      </div>
      <div class="col-md-9 col-sm-6">
          <section class="widget large">
              <header>
                  <h4><i class="fa fa-bar-chart-o"></i> Bar Chart <small style="display: inline !important;" class="hidden-xs">Refresh page to see different data</small></h4>
              </header>
              <div id="sources-chart-bar" class="body chart">
                  <svg></svg>
              </div>
          </section>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <section class="widget large">
              <header>
                  <h4><i class="fa fa-bullhorn"></i> Stream Stacked Chart</h4>
              </header>
              <div id="sources-chart-stacked" class="body chart">
                  <svg></svg>
              </div>
          </section>
      </div>
      <div class="col-md-6">
          <section class="widget large">
              <header>
                  <h4><i class="fa fa-arrow-circle-o-right"></i> Line Chart</h4>
              </header>
              <div id="sources-chart-line" class="body chart">
                  <svg></svg>
              </div>
          </section>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/dashboard/index.js' %}"></script>
<script src="{% static 'js/dashboard/stats.js' %}"></script>
<!-- d3, nvd3-->
<script src="{% static 'js/dashboard/lib/nvd3/lib/d3.v2.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/nv.d3.custom.js' %}"></script>

<!-- nvd3 models -->
<script src="{% static 'js/dashboard/lib/nvd3/src/models/scatter.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/axis.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/legend.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/stackedArea.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/stackedAreaChart.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/line.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/pie.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/pieChartTotal.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/stream_layers.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/lineChart.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/multiBar.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/src/models/multiBarChart.js' %}"></script>
{% endblock scripts %}
