{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}MyConference - Tasks{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">{% trans 'Tasks' %} <small>{% trans 'Manage every task related to the Conference' %}</small></h2>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <h4>{% trans 'Filter Tasks' %}</h4>
          <section class="widget">
            <div class="list-group">
                <a href="#" class="list-group-item" onclick="filterByEveryone();">
                    <i class="fa fa-chevron-right pull-right"></i>
                    <span class="badge badge-success" id="everyoneCounter">{{tasks}}</span>
                    <div id="everyoneOption"><strong>{% trans "Everyone's Tasks" %}</strong></div>
                </a>
                <a href="#" class="list-group-item" onclick="filterByAssigned();">
                    <i class="fa fa-chevron-right pull-right"></i>
                    <span class="badge badge-danger">{{assigned_to_you}}</span>
                    <div id="assignedOption">{% trans 'Assigned to you' %}</div>
                </a>
                <a href="#" class="list-group-item" onclick="filterByCreated();">
                    <i class="fa fa-chevron-right pull-right"></i>
                    <span class="badge badge-info">{{created_by_you}}</span>
                    <div id="createdOption">{% trans 'Created by you' %}</div>
                </a>
            </div>
          </section>
        </div>
        <div class="col-md-9">
          <div id="loading"></div>
          <section class="widget" id="showTasksList">
            <div class="row">
              <div class="controls form-group col-md-10">
                  <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary btn-sm active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-inverse">
                          <input type="radio" onchange="showOpenTasks();"> {% trans 'Open Tasks' %}
                      </label>
                      <label class="btn btn-inverse btn-sm" data-toggle-class="btn-primary" data-toggle-passive-class="btn-inverse">
                          <input type="radio" onchange="showClosedTasks();"> {% trans 'Closed Tasks' %}
                      </label>
                  </div>
              </div>
              <div class="col-md-2">
                <a class="btn btn-primary" onclick="showCreateTask();">
                  {% trans 'Add Task!' %} &nbsp;
                <i class="fa fa-check-square-o"></i></a>
              </div>
            </div>
            <ol class="list-group list-group-outer" id="tasksList">
              {% for task in tasks_list %}
                <li class="list-group-item">
                  {% if task.priority == 1 %}
                    <i style="color: red;" class="fa fa-bell"></i>
                  {% elif task.priority == 2 %}
                    <i style="color: yellow;" class="fa fa-exclamation-circle"></i>
                  {% else %}
                    <i style="color: lightgreen;" class="fa fa-tag"></i>
                  {% endif %}
                    <a class="close" data-dismiss="alert" href="#" onclick="closeTask({{task.id}});" aria-hidden="true">&times;</a>
                    {% if task.date %}
                      &nbsp;&nbsp;&nbsp; {{task.date}} &nbsp;&nbsp;&nbsp;
                    {% else %}
                      &nbsp;&nbsp;&nbsp; {{task.date}} &nbsp;&nbsp;&nbsp;
                    {% endif %}
                    <a href="#" onclick="showEditTask({{task.id}});">{{task.title}}</a>
                </li>
              {% endfor %}
            </ol>
            <div class="row" style="padding-top: 15px;">
              <div class="col-md-12" align="right">
                <i id="pagePositon">{% blocktrans %}{{ page }} of {{ pagenum }}{% endblocktrans %}</i>
                <button class="btn btn-default btn-xs" onclick="loadPage(true, false);">
                    <i class="fa fa-angle-left fa-lg"></i>
                </button>
                <button class="btn btn-default btn-xs" onclick="loadPage(false, false);">
                    <i class="fa fa-angle-right fa-lg"></i>
                </button>
              </div>
            </div>
          </section>
          <section class="widget" id="tasksRead" style="display: none;">
            <form id="createTask" class="form-horizontal" method="POST"
                enctype="multipart/form-data" action="{% url 'create_task' %}{{ eventid }}/">
                  {% csrf_token %}
              <fieldset>
              <div class="row">
                <div class="col-md-11">
                  <header>
                      <h4 id="taskTitle" style="display: none;">
                          <i class="fa fa-check-square-o"></i>
                      </h4>
                      <input type="text" id="taskTitleInput" name="taskTitleInput" class="input-transparent col-sm-8" placeholder="Task Title">
                      <div class="actions">
                        {% trans 'Priority:' %}
                        <div class="btn-group" data-toggle="buttons">
                            <label id="optionHigh" class="btn btn-danger btn-sm active" data-toggle-class="btn-danger" data-toggle-passive-class="btn-inverse">
                                <input type="radio" onchange="changePriority('high')"> {% trans 'High' %}
                            </label>
                            <label id="optionMedium" class="btn btn-inverse btn-sm" data-toggle-class="btn-warning" data-toggle-passive-class="btn-inverse">
                                <input type="radio" onchange="changePriority('medium')"> {% trans 'Medium' %}
                            </label>
                            <label id="optionLow" class="btn btn-inverse btn-sm" data-toggle-class="btn-success" data-toggle-passive-class="btn-inverse">
                                <input type="radio" onchange="changePriority('low')"> {% trans 'Low' %}
                            </label>
                        </div>
                      </div>
                  </header>
                </div>
                <div class="col-md-7" style="padding: 10px;">
                  {% trans 'Assigned to:' %}
                  <div class="btn-group">
                      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          <strong id="assignedName">{{current_user}}</strong>
                          <i class="fa fa-caret-down"></i>
                      </button>
                      <ul class="dropdown-menu">
                        {% for user in members %}
                          <li onclick="changeCurrentUser('{{user}}');"><a href="#">{{user}}</a></li>
                        {% endfor %}
                      </ul>
                  </div>
                </div>
                <div class="col-md-5" style="padding: 10px;">
                  <div class="control-group">
                      <label class="control-label" for="endingOn">{% trans 'Complete before:' %}</label>
                      <div class="controls form-group">
                        <div class="col-md-6">
                          <input id="endingOn" class="date-picker form-control" required="required" type="text" name="endingOn" value="" data-date-format="dd/mm/yyyy">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="bodyComments" style="display: none;">
                  <div class="panel-group" id="accordion">
                      <div class="panel" id="taskRead">
                          <div class="panel-heading">
                              <a id="readUsername" class="accordion-toggle" data-toggle="collapse" href="#collapseItem">
                              </a>
                          </div>
                          <div id="collapseItem" class="panel-collapse in collapse">
                              <div class="panel-body" id="readBody">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <input type="text" id="taskId" name="taskId" style="display: none;" readonly value="">
              <input type="text" id="priority" name="priority" style="display: none;" readonly value="">
              <input type="text" id="assignedTo" name="assignedTo" style="display: none;" readonly value="">
              <div class="control-group">
                <textarea rows="12" name="body" class="input-transparent col-sm-12" id="tasksBody"></textarea>
              </div>
              <div class="control-group">
                  <button id="replySend" type="reset" onclick="createTask();" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;{% trans 'Send' %}&nbsp;&nbsp;&nbsp;</button>
                  <button type="reset" id="replyDiscard" class="btn btn-sm btn-transparent" onclick="showTasksList();">{% trans 'Discard' %}</button>
              </div>
            </fieldset>
            </form>
          </section>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/lib/icheck.js/jquery.icheck.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-ui-1.10.3.custom.js' %}"> </script>
<script src="{% static 'js/spin.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/dashboard/forms.js' %}"></script>
<script src="{% static 'js/dashboard/tasks.js' %}"></script>
{% if taskid %}
<script>
showEditTask({{taskid}});
</script>
{% endif %}
{% endblock scripts %}
