{% extends "account/base_account.html" %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block header %}
<header class="page-header">
    <div class="navbar">
        <ul class="navbar-nav navbar-right">
            <li><h3><a href="{% url 'account_login' %}">{% trans 'Sign up' %}</a></h3></li>
        </ul>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>{% trans 'Sign up' %}</h4>
        </header>
        <div class="body">
        	<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
			{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
            <form class="signup" id="signup_form" method="post" action="">
                {% csrf_token %}
				{% for field in form %}
                {{ field|as_crispy_field }}
                {% endfor %}
				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<input type="submit" class="btn btn-block btn-lg btn-danger" value="{% trans 'Sign Up' %} &raquo;" />
			</form>
        </div>
    </section>
</div>

{% endblock %}