body{
	padding-top:50px;
	color:#676e76;
	font-size:14px;
	background:#fff
}

a{
	color:#fb3c2d
}

a:hover,a:focus{
	color:#f01605;
	text-decoration:none
}

h1,h2,h3,h4,h5,h6{
	color:#2f353e;
	font-weight:300
}

.muted{
	color:#676e76
}

.block{
	width:100%
}

.block-small{
	width:100%;
	padding:20px 0
}

.block-large{
	width:100%;
	padding:80px 0
}

.bg-alt{
	background:#eceef1;
	border-top:1px solid #dde1e6;
	border-bottom:1px solid #dde1e6
}

.bg-alt hr{
	border-top-color:#dde1e6
}

ul{
	margin-left:0
}

ul li{
	list-style:none
}

.list-img li{
	display:inline-block;
	margin:0 5px 10px 0
}

.list-links li{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ddd
}

.list-links li span{
	display:block
}

.list-social li{
	display:inline;
	text-align:center
}

.list-social li a{
	display:inline-block;
	width:40px;
	height:40px;
	color:#fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}

.list-social li a:hover{
	color:#fff;
	text-decoration:none
}

.list-social li a.twitter{
	background:#00aced
}

.list-social li a.twitter:hover{
	background:#0074a1
}

.list-social li a.facebook{
	background:#3b5998
}

.list-social li a.facebook:hover{
	background:#263961
}

.list-social li a.google-plus{
	background:#dd4b39
}

.list-social li a.google-plus:hover{
	background:#ac2d1e
}

.list-social li a.pinterest{
	background:#cb2027
}

.list-social li a.pinterest:hover{
	background:#89161a
}

.list-social li a i{
	padding-top:13px
}

br[class*="spacer"]{
	display:block;
	content:" "
}

.spacer-small{
	margin-bottom:10px;
	line-height:10px
}

.spacer-medium{
	margin-bottom:20px;
	line-height:20px
}

.spacer-large{
	margin-bottom:40px;
	line-height:40px
}

.spacer-xlarge{
	margin-bottom:80px;
	line-height:80px
}

.teaser{
	text-align:center;
	border-bottom:10px solid #8ca9cf;
	background:#b0c4de top center fixed
}

.teaser h1{
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	text-transform:capitalize;
	font-weight:bold
}

.teaser .lead{
	color:#2f353e
}

.navbar .brand{
	padding:5px 20px 5px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-shadow:none
}

.navbar .brand:hover{
	color:#fff
}

.navbar-inner{
	border:0;
	filter:none;
	background:#2f353e;
	background-image:none
}

.navbar .nav>li>a{
	padding:20px 20px;
	color:#fff;
	text-shadow:none;
	font-weight:bold
}

.navbar .nav>li>a:hover,.navbar .nav>li>a:focus{
	color:#fff;
	background:#24292f
}

.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{
	color:#fb3c2d;
	text-decoration:none;
	background-color:#24292f;
	-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	box-shadow:inset 0 0 0 rgba(0,0,0,0)
}

.navbar .nav li.dropdown.open>.dropdown-toggle{
	background-color:#24292f;
	color:#fff
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret{
	border-top-color:#fff
}

.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#24292f;
	color:#fb3c2d
}

.navbar .nav li.dropdown.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret{
	border-top-color:#fb3c2d
}

.navbar .nav li.dropdown>.dropdown-toggle .caret{
	border-top-color:#fff
}

.navbar .nav li.dropdown>a:hover .caret,.navbar .nav li.dropdown>a:focus .caret{
	border-top-color:#fff
}

.dropdown-menu{
	margin-top:-1px;
	border:0;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);
	-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
	background-color:#2f353e
}

.navbar .nav>li>.dropdown-menu::before,.navbar .nav>li>.dropdown-menu::after{
	display:none
}

.dropdown-menu li>a{
	color:#fff
}

.dropdown-menu li>a:hover,.dropdown-menu li>a:focus{
	color:#fff;
	background-color:#24292f;
	background-image:none
}

.navbar .btn-navbar{
	margin-top:10px;
	background:#191c21
}

.navbar .btn-navbar:hover{
	background:#24292f;
	border-color:#1b1f24
}

.carousel-control{
	top:50%;
	border:0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box;
	opacity:.5;
	filter:alpha(opacity=50)
}

.btn{
	background-color:none;
	background-image:none;
	background:#2f353e;
	color:#fff;
	cursor:pointer;
	text-shadow:0 -1px 0 #030304;
	border:1px solid #2f353e;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box;
	-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	box-shadow:inset 0 0 0 rgba(0,0,0,0)
}

.btn:hover,.btn:focus{
	color:#fff;
	background:#454e5b;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	border:1px solid #2f353e
}

.btn.btn-primary{
	background:#fb3c2d;
	text-shadow:0 -1px 0 #be1104;
	border:1px solid #fb3c2d
}

.btn.btn-primary:hover,.btn.btn-primary:focus{
	background:#fb5346;
	border:1px solid #fb3c2d
}

.btn.btn-info{
	background:#369;
	text-shadow:0 -1px 0 #19334d;
	border:1px solid #369
}

.btn.btn-info:hover,.btn.btn-info:focus{
	background:#3973ac;
	border:1px solid #369
}

.btn.btn-success{
	background:#008000;
	text-shadow:0 -1px 0 #001a00;
	border:1px solid #008000
}

.btn.btn-success:hover,.btn.btn-success:focus{
	background:#009a00;
	border:1px solid #008000
}

.btn.btn-warning{
	background:#f60;
	text-shadow:0 -1px 0 #993d00;
	border:1px solid #f60
}

.btn.btn-warning:hover,.btn.btn-warning:focus{
	background:#ff751a;
	border:1px solid #f60
}

.btn.btn-danger{
	background:#bb2525;
	text-shadow:0 -1px 0 #661414;
	border:1px solid #bb2525
}

.btn.btn-danger:hover,.btn.btn-danger:focus{
	background:#d02929;
	border:1px solid #bb2525
}

.btn.btn-inverse{
	background:#1a1a1a;
	text-shadow:0 -1px 0 #000;
	border:1px solid #1a1a1a
}

.btn.btn-inverse:hover,.btn.btn-inverse:focus{
	background:#262626;
	border:1px solid #1a1a1a
}

.well{
	background:#eceef1;
	border:1px solid #dde1e6;
	-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	box-shadow:inset 0 0 0 rgba(0,0,0,0)
}

.bg-alt .well{
	background:#fff
}

.footer-top,.footer-bottom{
	color:#676e76
}

.footer-top h1,.footer-bottom h1,.footer-top h2,.footer-bottom h2,.footer-top h3,.footer-bottom h3,.footer-top h4,.footer-bottom h4,.footer-top h5,.footer-bottom h5,.footer-top h6,.footer-bottom h6{
	color:#fff
}

.footer-top a,.footer-bottom a{
	color:#fff
}

.footer-top a:hover,.footer-bottom a:hover{
	color:#fb3c2d;
	text-decoration:none
}

.footer-top{
	border-top:10px solid #24292f;
	background:#2f353e
}

.footer-bottom{
	background:#24292f
}

.portfolio .thumbnail{
	padding:0;
	background:#fff
}

.portfolio .thumbnail a img{
	width:100%;
	height:auto
}

.portfolio .thumbnail .caption a{
	color:#2f353e;
	font-weight:bold
}

.portfolio .thumbnail .caption a:hover{
	color:#fb3c2d
}

.tags{
	margin-left:0;
	margin-bottom:40px;
	padding:0;
	list-style:none
}

.tags li{
	display:inline-block;
	margin-bottom:15px;
	position:relative
}

.tags li a{
	margin-right:5px;
	padding:6px 12px;
	background:#454e5b;
	color:#fff;
	text-decoration:none;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}

.tags li a:hover,.tags li a:focus{
	background:#fb3c2d
}

.tags li span{
	margin-right:5px
}

.tags li .active{
	background:#fb3c2d
}

.pagination ul .active a{
	color:#fff;
	background:#fb3c2d
}

.pagination ul .active a:hover,.pagination ul .active a:focus{
	color:#fff;
	background:#fb2514
}

.pagination ul .disabled a{
	background:#fff
}

.pagination ul li>a{
	font-weight:bold;
	padding:10px 20px
}

.nav-tabs{
	margin-bottom:0
}

.tab-content{
	padding:20px 10px 5px;
	background:#fff;
	border:1px solid #dde1e6;
	border-top:0
}

.post{
	margin-bottom:80px
}

.post header a{
	color:#2f353e
}

.post header a:hover,.post header a:focus{
	color:#fb3c2d
}

p img.pull-left{
	padding:0 10px 10px 0
}

p img.pull-right{
	padding:0 0 10px 10px
}

.post-image{
	margin-bottom:20px
}

.post-metadata a{
	color:#676e76
}

.post-metadata a:hover,.post-metadata a:focus{
	color:#fb3c2d
}

.post-metadata li{
	display:inline-block;
	margin-right:10px
}

.share-heading{
	display:inline-block;
	margin-right:10px
}

.widget{
	margin-bottom:40px
}

.badges .thumbnail{
	border:0;
	-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow:0 0 0 0 rgba(0,0,0,0);
	box-shadow:0 0 0 0 rgba(0,0,0,0)
}

.pager li>a,.pager li>span{
	padding:11px 19px;
	font-size:17.5px;
	background-color:#2f353e;
	border:1px solid #ddd;
	color:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}

.pager li>a:hover,.pager li>a:focus{
	text-decoration:none;
	background-color:#3a414d
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span{
	color:#8f9aaa;
	background-color:#5b6778;
	cursor:default
}

input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],input[type="radio"],input[type="checkbox"]{
	height:35px
}

select{
	height:40px
}

label{
	line-height:45px
}

.form-horizontal .control-label{
	padding-top:0
}

.input-append .add-on,.input-prepend .add-on{
	height:35px;
	line-height:35px
}

.btn-group.open .btn.dropdown-toggle{
	background-color:#454e5b
}

.caret{
	border-top-color:#fff
}

.dropdown-menu .divider{
	background-color:#24292f;
	border-bottom-color:#454e5b
}

.plan{
	background:#eceef1;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box;
	border:1px solid #dde1e6;
	margin-bottom:15px;
	text-align:center
}

.plan .plan-name{
	padding:10px 20px;
	background:#24292f;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}

.plan .plan-name h3{
	color:#fff
}

.plan .plan-info{
	padding:20px;
	background:#2f353e
}

.plan .plan-price h1{
	font-size:60px;
	line-height:100%;
	padding:20px
}

.plan .plan-price h1 small{
	font-size:14px
}

.plan .plan-features li{
	padding:10px 20px;
	border-bottom:1px solid #dde1e6;
	-webkit-box-shadow:0 1px 0 0 #fbfbfc;
	-moz-box-shadow:0 1px 0 0 #fbfbfc;
	box-shadow:0 1px 0 0 #fbfbfc
}

.plan .plan-cta{
	padding:20px
}

.plan.plan-featured .plan-name{
	background:#fb3c2d
}

.plan.plan-featured .plan-info{
	background:#fb5346
}

.plan.plan-featured .plan-info>p{
	color:#fff
}

.hexagon{
	width:100px;
	height:55px;
	margin:80px auto 50px;
	color:#fff;
	background:#fb3c2d;
	position:relative
}

.hexagon:before{
	content:"";
	position:absolute;
	top:-25px;
	left:0;
	width:0;
	height:0;
	border-left:50px solid transparent;
	border-right:50px solid transparent;
	border-bottom:25px solid #fb3c2d
}

.hexagon:after{
	content:"";
	position:absolute;
	bottom:-25px;
	left:0;
	width:0;
	height:0;
	border-left:50px solid transparent;
	border-right:50px solid transparent;
	border-top:25px solid #fb3c2d
}

.ribbon{
	position:relative;
	margin-left:-9px;
	margin-right:-9px;
	padding-left:9px;
	line-height:30px;
	background:#fb3c2d;
	color:#fff
}

.ribbon:after{
	content:"";
	position:absolute;
	right:0;
	border:15px solid #fb3c2d;
	border-color:transparent;
	border-right-color:#fff
}

@media(max-width:979px){
	body{
		padding-top:0
	}

	.nav-collapse .nav>li a:hover{
		background-color:#24292f
	}

	.nav-collapse .dropdown-menu a{
		color:#fff
	}

	.navbar .nav>li>a:hover,.navbar .nav>li>a:focus{
		color:#fff
	}

	.navbar{
		margin-bottom:0
	}

}

@media(max-width:768px){
	.block,.block-small,.block-large{
		margin-left:-20px;
		margin-right:-20px;
		padding-left:20px;
		padding-right:20px;
		text-align:center
	}

	.form-signup input,.form-signup button{
		margin:5px 0
	}

}

.requiredField {
   font-weight: bold;
}