{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}MyConference - Edit sponsor{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}
  
{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="page-title">{% trans 'Edit sponsor' %}</h2>
      </div>
  </div>
  <section class="widget clearfix">
    {% crispy form %}
    <div class="col-lg-12">
      <header>
        <h4>
            {% trans 'Delete sponsor' %}
        </h4>
        <div class="col-sm-2">
              <a href="{% url 'delete_sponsor' sponsor_id eventid %}" class="btn btn-danger btn-block">{% trans 'Delete' %}</a>
          </div>
      </header>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/ui-dialogs.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backbone/backbone-min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backbone/backbone-pageable.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backgrid/backgrid.js' %}"></script>
<script src="{% static 'js/contacts.js' %}"></script>
{% endblock scripts %}
