{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}MyConference - Sponsors{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="page-title">{% trans 'Sponsors' %}</h2>
      </div>
  </div>
  <section class="widget">
    <div class="body">
        <!--div>
          <p>{% trans 'Thank you message to your Sponsors' %}</p>
          <textarea rows="4" class="input-transparent col-sm-12" name="body" id="thanks-body"></textarea>
          <p>
            <button type="submit" id="compose-send-button" class="btn btn-sm btn-primary">&nbsp;&nbsp;&nbsp;{% trans 'Save' %}&nbsp;&nbsp;&nbsp;</button>
          </p>
        </div-->
        <div class="tabbable tabs-right">
            <ul id="myTabright" class="nav nav-tabs">
                <li {% if not sponsor_level_form.errors %}class="active"{% endif %}><a href="#sponsors" data-toggle="tab">{% trans 'Sponsors' %}</a></li>
                <li {% if sponsor_level_form.errors %}class="active"{% endif %}><a href="#sponsor-levels" data-toggle="tab">{% trans 'Sponsor levels' %}</a></li>
            </ul>
            <div id="myTabContentright" class="tab-content" >
                <div class="tab-pane fade in {% if not sponsor_level_form.errors %}active{% endif %}" id="sponsors">
                  <div class="row">
                    <div class="col-md-12">
                      {% if sponsors %}
                      <table class="table table-striped table-images">
                        <thead>
                          <tr>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Level' %}</th>
                            <th>{% trans 'Logo' %}</th>
                            <th class="hidden-xs">{% trans 'Website' %}</th>
                            <th class="hidden-xs">{% trans 'Phone' %}</th>
                            <th class="hidden-xs">{% trans 'Description' %}</th>
                            <th class="hidden-xs">{% trans 'e-mail' %}</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for s in sponsors %}
                            <tr>
                              <td>{{ s.name }}</td>
                              <td>{{ s.level }}</td>
                              <td>{% if s.logo%}<img src="{{ s.logo.url }}" alt="{{ s.name }}" />{% endif %}</td>
                              <td>{{ s.website }}</td>
                              <td>{{ s.phone }}</td>
                              <td>{{ s.description }}</td>
                              <td>{{ s.email }}</td>
                              <td><a href="{% url 'edit_sponsor' s.id eventid %}">{% trans 'Edit' %}</a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {% else %}
                        <p>{% trans 'There are no sponsors registered.' %}</p>
                      {% endif %}
                      <div>
                        <button class="btn-default btn" id="add-sponsor-btn">{% trans 'Add sponsor' %}</button>
                      </div>
                      <div class="sponsor-form-wrapper {% if not sponsor_form.errors %}hidden{% endif %}">
                      {% crispy sponsor_form %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade in {% if sponsor_level_form.errors %}active{% endif %}" id="sponsor-levels">
                  <div class="row">
                      <div class="col-md-12">
                          {% if sponsor_levels %}
                          <table class="table table-striped table-images">
                            <thead>
                              <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Amount' %}</th>
                                <th>{% trans 'Importance' %}</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for l in sponsor_levels %}
                                <tr>
                                  <td>{{ l.name }}</td>
                                  <td>{{ l.amount }}</td>
                                  <td>{{ l.importance }}</td>
                                  <td><a href="{% url 'edit_sponsor_level' l.id eventid %}">{% trans 'Edit' %}</a></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          {% else %}
                            <p>{% trans 'There are no levels registered.' %}</p>
                          {% endif %}
                          <div>
                            <button class="btn-default btn" id="add-level-btn">{% trans 'Add level' %}</button>
                          </div>
                          <div class="sponsor-level-form-wrapper {% if not sponsor_level_form.errors %}hidden{% endif %}">
                          {% crispy sponsor_level_form %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script>
  $('#add-sponsor-btn').click(function() {
    $('.sponsor-form-wrapper').removeClass('hidden');
  });
  $('#add-level-btn').click(function() {
    $('.sponsor-level-form-wrapper').removeClass('hidden');
  });
</script>
<script src="{% static 'js/api_urls.js' %}"></script>
{% endblock scripts %}
