{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}MyConference - Location{% endblock %}

{% block extrahead %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVtkz_MGTAXxl7BCBvSE0C2qrOC9xAlBI"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}
<div class="content container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="page-title">{% trans 'Location' %}</h2>
      </div>
  </div>
  <section class="widget">
    <div class="body">
            <div class="row">
              <div class="col-md-12">
                {% if locations %}
                <table class="table table-striped table-images">
                  <thead>
                    <tr>
                      <th>{% trans 'Name' %}</th>
                      <th class="hidden-xs">{% trans 'More info' %}</th>
                      <th>{% trans 'Smoking' %}</th>
                      <th>{% trans 'Eating' %}</th>
                      <th>{% trans 'Drinking' %}</th>
                      <th>{% trans 'Toilets' %}</th>
                      <th>{% trans 'Outlets' %}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for l in locations %}
                      <tr>
                        <td>{{ l.name }}</td>
                        <td class="hidden-xs">{{ l.more_info }}</td>
                        <td>
                          {% if l.smoking_allowed %}
                            <i class="fa fa-check"></i>
                          {% else %}
                            <i class="fa fa-times"></i>
                          {% endif %}
                        </td>
                        <td>
                          {% if l.eating_allowed %}
                            <i class="fa fa-check"></i>
                          {% else %}
                            <i class="fa fa-times"></i>
                          {% endif %}
                        </td>
                        <td>
                          {% if l.drinking_allowed %}
                            <i class="fa fa-check"></i>
                          {% else %}
                            <i class="fa fa-times"></i>
                          {% endif %}
                        </td>
                        <td>
                          {% if l.toilets %}
                            <i class="fa fa-check"></i>
                          {% else %}
                            <i class="fa fa-times"></i>
                          {% endif %}
                        </td>
                        <td>
                          {% if l.outlets %}
                            <i class="fa fa-check"></i>
                          {% else %}
                            <i class="fa fa-times"></i>
                          {% endif %}
                        </td>
                        <td><a href="{% url 'edit_location' l.id eventid %}">{% trans 'Edit' %}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                  <p>{% trans 'There are no locations registered.' %}</p>
                {% endif %}
                <div>
                  <button class="btn-default btn" id="add-location-btn">{% trans 'Add location' %}</button>
                </div>
                <div class="location-form-wrapper hidden">
                <div class="body">
                  <div class="col-md-7">
                    <input id="pac-input" type="text" placeholder="{% trans 'Search a place' %}">
                    <div id="map" height="100"></div>
                  </div>
                </div>
                <div class="col-md-5">
                  {% crispy form %}
                </div>
              </div>
          </div>
      </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/jquery.icheck.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'js/location.js' %}"></script>
<script type="text/javascript">
google.maps.event.addDomListener(document.getElementById('add-location-btn'), 'click', initialize);
</script>
{% endblock scripts %}
