{% load staticfiles %}
{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>MyConference</title>
    {% endblock %}
    <link href="{% static 'css/dashboard/application.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/socialaccounts.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script src="{% static 'js/dashboard/lib/jquery/jquery-2.0.3.min.js' %}"> </script>
    <script src="{% static 'js/dashboard/lib/backbone/underscore-min.js' %}"></script>
    <script src="{% static 'js/dashboard/settings.js' %}"> </script>
</head>
<body>
<div class="logo">
    <h4><a href="{% url 'home' %}">My<strong>Conference</strong></a></h4>
</div>

{% block header %}{% endblock %}

{% block content %}{% endblock %}

</body>
</html>
