{% extends "account/base_account.html" %}
{% load i18n %}

{% block title %}
<title>MyConference - {% trans "Confirm E-mail Address" %}</title>
{% endblock %}

{% block content %}
<div class="single-widget-container error-page">
    <section class="widget transparent widget-404">
        <div class="body">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="text-align-center"><i class="fa eicon-key"></i></h1>
                </div>
                <div class="col-md-7">
                    <div class="description">
                        <h3>{% trans "Confirm E-mail Address" %}</h3>
                        {% if confirmation %}
                          {% user_display confirmation.email_address.user as user_display %}
                          <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
                        {% else %}
                        {% url 'account_email' as email_url %}
                          <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url}}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="widget widget-404-search">
        <div class="body no-margin">
            <form class="form-inline form-search no-margin text-align-center" method="post" action="{% url 'account_confirm_email' confirmation.key %}"
                  role="form">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            &nbsp; {% trans 'Confirm' %} &nbsp;
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock %}
