{% extends "account/base_account.html" %}
{% load i18n %}

{% block title %}
<title>MyConference - Password Reset</title>
{% endblock %}

{% block content %}
<div class="single-widget-container error-page">
    <section class="widget transparent widget-404">
        <div class="body">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="text-align-center"><i class="fa eicon-key"></i></h1>
                </div>
                <div class="col-md-7">
                    <div class="description">
                        <h3>{% trans "Change Password" %}</h3>
                        <p>{% trans 'Your password is now changed.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
