{% extends "account/base_account.html" %}
{% load i18n %}

{% block title %}
<title>MyConference - Password Reset</title>
{% endblock %}

{% block content %}
<div class="single-widget-container error-page">
    <section class="widget transparent widget-404">
        <div class="body">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="text-align-center"><i class="fa eicon-key"></i></h1>
                </div>
                <div class="col-md-7">
                    <div class="description">
                        <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="widget widget-404-search">
        <div class="body no-margin">
            {% if not token_fail %}
              {% if form %}
                  <form class="form-inline form-search no-margin text-align-center" method="POST" action=""
                        role="form">
                      {% csrf_token %}
                      <div class="input-group">
                          {{ form.as_p }}
                          <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                  &nbsp; Send &nbsp;
                              </button>
                          </span>
                      </div>
                  </form>
              {% else %}
                  <b><p>{% trans 'Your password is now changed.' %}</p></b>
              {% endif %}
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}
