{% extends "account/base_account.html" %}
{% load i18n %}

{% block title %}
<title>MyConference - Password Reset</title>
{% endblock %}

{% block content %}
<div class="single-widget-container error-page">
    <section class="widget transparent widget-404">
        <div class="body">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="text-align-center"><i class="fa eicon-key"></i></h1>
                </div>
                <div class="col-md-7">
                    <div class="description">
                        <h3>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="widget widget-404-search">
        <div class="body no-margin">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}
