{% load staticfiles %}
{% load i18n %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{conference_name}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block styles %}
  <link href="{% static 'css/conference/design01/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/conference/design01/css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'css/conference/design01/css/theme.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'css/conference/design01/css/styleconf.css' %}" rel="stylesheet"> -->
  {% endblock %}
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE7]>
    <link rel="stylesheet" href="assets/styles/css/font-awesome-ie7.min.css">
  <![endif]-->
  <!-- <link rel="shortcut icon" href="favicon.png"> -->
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- Toggle button -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-cog"></i> Menu</a>
        <!-- Brand Logo -->
        <!-- <a class="brand" href="{{show_conference}}"><img src="assets/images/logo.png" alt=""></a> -->
        <!-- Navbar links -->
        <nav class="nav-collapse collapse">
          <ul class="nav">
            <li class="{{home_active}}"><a href="/{{url}}">Home</a></li>
            {% if block_register %}
              {% if user_registered %}
                <li class="{{register_active}}"><a href="{% url 'profile' url user.username %}">{% trans 'My Profile' %}</a></li>
              {% else %}
                <li class="{{register_active}}"><a href="{% url 'block_register' url %}">{% trans 'Register' %}</a></li>
              {% endif %}
            {% endif %}
            <li class="dropdown {{conference_active}}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Conference' %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if block_schedule %}
                  <li><a href="{% url 'block_schedule' url %}">{% trans 'Agenda' %}</a></li>
                {% endif %}
                {% if block_attendees %}
                <li><a href="{% url 'block_attendees' url %}">{% trans 'Attendees' %}</a></li>
                {% endif %}
                {% if block_my_talks %}
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'block_my_talks' url %}">{% trans 'My Talks' %}</a></li>
                  {% endif %}
                {% endif %}
                {% if block_call_for_proposals %}
                  <li><a href="{% url 'block_call_for_proposals' url %}">{% trans 'Call for Proposals' %}</a></li>
                {% endif %}
              </ul>
            </li>
            {% if is_organizer %}
            <li class="dropdown {{organizers_active}}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Organizers' %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'event_manager' %}{{ eventid }}">{% trans 'Event Manager' %}</a></li>
                {% if block_review_talks %}
                  <li><a href="{% url 'block_review_talks' url %}">{% trans 'Review Talks' %}</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            <li class="dropdown {{about_active}}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'About' %} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if block_information %}
                  <!-- <li><a href="blog-1.html">{% trans 'Information' %}</a></li> -->
                {% endif %}
                {% if block_code_of_conduct %}
                  <li><a href="{% url 'block_code_of_conduct' url %}">{% trans 'Code of Conduct' %}</a></li>
                {% endif %}
                {% if block_press_release %}
                  <!-- <li><a href="blog-2.html">{% trans 'Press releases' %}</a></li> -->
                {% endif %}
                {% if block_volunteers %}
                  <!-- <li><a href="blog-2.html">{% trans 'Volunteers' %}</a></li> -->
                {% endif %}
                {% if block_contact %}
                  <!-- <li><a href="blog-2.html">{% trans 'Contact' %}</a></li> -->
                {% endif %}
              </ul>
            </li>
            <li>
              {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}?next=/{{url}}">
                    {% blocktrans %}Logout{% endblocktrans %}&nbsp;
                    <i class="icon-signout"></i>
                </a>
              {% else %}
                <a href="{% url 'account_login' %}?next=/{{url}}">
                    {% blocktrans %}Login{% endblocktrans %}&nbsp;
                    <i class="icon-signin"></i>
                </a>
              {% endif %}
            </li>
          </ul>
        </nav><!--/.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->

  <section class="block-large teaser">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>{{conference_name}}</h1>
          {% if not expired %}
            {% if start_date == end_date %}
              <p class="lead">
                {% blocktrans %}
                Conference will take place on {{ start_date }}
                {% endblocktrans %}</p>
            {% else %}
              <p class="lead">
                {% blocktrans %}
                Conference will take place from {{ start_date }} - {{ end_date }}
                {% endblocktrans %}
              </p>
            {% endif %}
          {% endif %}
          {% if not user_registered %}
            {% if block_register %}
              <a href="{% url 'block_register' url %}" class="btn btn-large btn-danger">{% trans 'Register!' %}</a>
            {% endif %}
          {% else %}
            {% if block_submit_talk %}
              <a href="{% url 'block_submit_talk' url %}" class="btn btn-large btn-danger">{% trans 'Submit Talk!' %}</a>
            {% endif %}
          {% endif %}
          {% if block_schedule %}
            <a href="{% url 'block_schedule' url %}" class="btn btn-large">{% trans 'Agenda' %}</a>
          {% endif %}
          <br class="spacer-xlarge">
          <!-- Carousel -->
          {% if block_sponsors %}
            <div id="myCarousel" class="carousel slide">
              <div class="carousel-inner">
                {% for s in sponsors %}
                  <div class="item active">
                    <div class="row">
                      {% for ss in s.sponsors %}
                      {% if ss.logo%}<a href="{{ss.company_page}}"><img src="{{ ss.logo.url }}" width="100px" alt="{{ ss.name }}" /></a>{% endif %}
                      {% endfor %}
                    </div>
                    <h2>Sponsors {{s.level}}</h2>
                  </div>
                {% endfor %}
              </div><!-- /.carousel-inner -->
              {% if sponsors|length > 1 %}
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              {% endif %}
            </div>
          {% endif %}<!-- /.carousel -->
        </div><!-- /.span12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.teaser -->

  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer>
    <div class="block-small footer-top">
			<div class="container">
				<div class="row">
					<div class="span3">
            {% if block_contact %}
              <h3>Quick Contact</h3>
  						<ul>
  							<li><i class="icon-angle-right"></i> <a href="#">{% trans 'Contact form' %}</a></li>
  						</ul>
            {% endif %}
					</div>
					<div class="span3">
					</div>
					<div class="span3">
					</div>
					<div class="span3">
            {% if twitter_link or facebook_link or google_plus_link or pinterest_link %}
						<h3>{% trans 'Follow Us' %}</h3>
						<ul class="list-social">
							 {% if twitter_link %}
               <li><a class="twitter" href="{{twitter_link}}"><i class="icon-twitter"></i></a></li>
               {% endif %}
               {% if facebook_link %}
               <li><a class="facebook" href="{{facebook_link}}"><i class="icon-facebook"></i></a></li>
               {% endif %}
               {% if google_plus_link %}
               <li><a class="google-plus" href="{{google_plus_link}}"><i class="icon-google-plus"></i></a></li>
               {% endif %}
               {% if pinterest_link %}
               <li><a class="pinterest" href="{{pinterest_link}}"><i class="icon-pinterest"></i></a></li>
               {% endif %}
						</ul>
            {% endif %}
					</div>
				</div>
			</div>
		</div>

    <div class="block-small footer-bottom">
      <div class="container">
        <div class="row">
          <div class="span8">
            <p>{% trans 'Conference created with' %} <a href="http://myconference.co" target="_blank">MyConference</a></p>
          </div>
          <div class="span4">
            <p><a href="/{{url}}" target="_blank">{{conference_name}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

{% block scripts %}
  <!-- last but not least the javascript -->
  <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4650617-19', 'myconference.co');
    ga('send', 'pageview');

  </script>
{% endblock scripts %}
</body>
</html>
