{% extends "conference/design01/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<!-- Features -->
<section class="block-large bg-alt">
	<div class="container">
		<div class="row">
			<div class="span5">
				<img src="{% static 'img/conference/conference02.jpg' %}">
			</div>
			<div class="span7">
				<h2><i class="icon-magic"></i>
				{% blocktrans %}
				About {{ conference_name }}
				{% endblocktrans %}
				</h2>
				<p class="lead">{{description}}</p>
			</div>
		</div>
	</div>
</section>
<section class="block-large">
	<div class="container">
		<div class="row">
			<div class="span7">
				<h2><i class="icon-calendar"></i> <span class="muted">{% trans 'What appointments to cancel?' %}</span></h2>
				{% if start_date == end_date %}
					<p class="lead">
					{% blocktrans %}
					Conference will take place on {{ start_date }}
					{% endblocktrans %}
					</p>
				{% else %}
					<p class="lead">
					{% blocktrans %}Conference starting on {{ start_date }}{% endblocktrans %}
					</p>
					<p class="lead">
					{% blocktrans %}Conference ending on {{ end_date }}{% endblocktrans %}
					</p>
				{% endif %}
				{% if block_schedule %}
					<p class="lead">{% trans 'Check out the Agenda for more information!' %}</p>
					<a href="{% url 'block_schedule' url %}" class="btn btn-large">{% trans 'Agenda' %}&raquo;</a>
					<br class="spacer-medium">
				{% endif %}
			</div>
			<div class="span5">
				<div class="body">
						<div id="calendar" class="calendar"> </div>
				</div>
			</div>
		</div>
	</div>
</section>
{% if block_sponsors %}
	{% if sponsors %}
	<section class="block-large bg-alt">
		<div class="container">
			<div class="row">
				<div class="span5">
					<ul class="list-social">
						{% for s in sponsors %}
							<h2><b>Sponsors {{s.level}}</b></h2>
							{% for ss in s.sponsors %}
								{% if ss.logo%}<a href="{{ss.company_page}}"><li><img width="{{s.size}}%" src="{{ ss.logo.url }}" alt="{{ ss.name }}" /></li></a>{% endif %}
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
				<div class="span7">
					<h2><i class="icon-bolt"></i> {% trans 'Sponsors' %}</h2>
					<p class="lead">{{sponsors_thanks}}</p>
					<!--a href="#" class="btn btn-large">{% trans 'Learn More' %} &raquo;</a-->
				</div>
			</div>
		</div>
	</section>
	{% endif %}
{% endif %}

{% endblock %}
